.modal {
  // Modals
  --op-modal-width: 564px;

  position: fixed;
  z-index: var(--op-z-index-dialog);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  visibility: hidden;

  /* We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  See also https://github.com/twbs/bootstrap/issues/17695 */
}

.modal__backdrop {
  position: fixed;
  z-index: var(--op-z-index-dialog-backdrop);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0;
  transition: var(--op-transition-modal);
  visibility: hidden;
}

.modal__content {
  z-index: var(--op-z-index-dialog-content);
  width: var(--op-modal-width);
  max-height: 500px;
  padding: var(--op-space-large);
  border-radius: var(--op-radius-large);
  background: var(--op-color-background);
  color: var(--op-color-on-background);
  opacity: 0;
  overflow-y: auto;
  transform: scale(0.7);
  transition: var(--op-transition-modal);
}

.modal--active {
  display: flex;
  visibility: visible;

  .modal__content {
    opacity: 1;
    transform: scale(1);
  }

  .modal__backdrop {
    opacity: 0.5;
    visibility: visible;
  }
}

.modal__body {
  overflow-y: auto;
}

.modal__close {
  /* stylelint-disable scss/at-extend-no-missing-placeholder */
  @extend .btn--icon;
  @extend .btn--no-border;

  color: var(--op-color-neutral-minus-seven);
  cursor: pointer;
  /* stylelint-enable scss/at-extend-no-missing-placeholder */

  float: right;

  &:hover:not(:disabled, .btn--disabled) {
    color: var(--op-color-neutral-minus-seven);
  }
}

@mixin modal-dark {
  .modal__content {
    background: var(--op-color-neutral-plus-seven);
    color: var(--op-color-neutral-on-plus-seven);
  }

  .modal__close {
    &:hover {
      background: var(--op-color-background);
    }
  }
}

// Follow system preference unless forced to light
@media (prefers-color-scheme: dark) {
  :root:not([data-theme-mode='light']) {
    @include modal-dark;
  }
}

// Force design system to dark
:root[data-theme-mode='dark'] {
  @include modal-dark;
}
