@mixin alerts-warning-luminosity-scale {
  --rm-color-alerts-warning-original: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) var(--rm-color-yellow-l)
  );

  // Alert Warning Luminosity Scale
  --rm-color-alerts-warning-luminosity-4: hsl(var(--rm-color-yellow-h) var(--rm-color-yellow-s) 4%);
  --rm-color-alerts-warning-luminosity-8: hsl(var(--rm-color-yellow-h) var(--rm-color-yellow-s) 8%);
  --rm-color-alerts-warning-luminosity-16: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 16%
  );
  --rm-color-alerts-warning-luminosity-20: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 20%
  );
  --rm-color-alerts-warning-luminosity-24: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 24%
  );
  --rm-color-alerts-warning-luminosity-28: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 28%
  );
  --rm-color-alerts-warning-luminosity-32: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 32%
  );
  --rm-color-alerts-warning-luminosity-36: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 36%
  );
  --rm-color-alerts-warning-luminosity-40: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 40%
  );
  --rm-color-alerts-warning-luminosity-52: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 52%
  );
  --rm-color-alerts-warning-luminosity-64: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 64%
  );
  --rm-color-alerts-warning-luminosity-70: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 70%
  );
  --rm-color-alerts-warning-luminosity-84: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 84%
  );
  --rm-color-alerts-warning-luminosity-90: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 90%
  );
  --rm-color-alerts-warning-luminosity-94: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 94%
  );
  --rm-color-alerts-warning-luminosity-96: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 96%
  );
  --rm-color-alerts-warning-luminosity-98: hsl(
    var(--rm-color-yellow-h) var(--rm-color-yellow-s) 98%
  );
}

@mixin alerts-danger-luminosity-scale {
  --rm-color-alerts-danger-original: hsl(
    var(--rm-color-red-h) var(--rm-color-red-s) var(--rm-color-red-l)
  );

  // Alert Danger Luminosity Scale
  --rm-color-alerts-danger-luminosity-4: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 4%);
  --rm-color-alerts-danger-luminosity-8: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 8%);
  --rm-color-alerts-danger-luminosity-16: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 16%);
  --rm-color-alerts-danger-luminosity-20: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 20%);
  --rm-color-alerts-danger-luminosity-24: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 24%);
  --rm-color-alerts-danger-luminosity-28: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 28%);
  --rm-color-alerts-danger-luminosity-32: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 32%);
  --rm-color-alerts-danger-luminosity-36: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 36%);
  --rm-color-alerts-danger-luminosity-40: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 40%);
  --rm-color-alerts-danger-luminosity-52: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 52%);
  --rm-color-alerts-danger-luminosity-64: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 64%);
  --rm-color-alerts-danger-luminosity-70: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 70%);
  --rm-color-alerts-danger-luminosity-84: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 84%);
  --rm-color-alerts-danger-luminosity-90: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 90%);
  --rm-color-alerts-danger-luminosity-94: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 94%);
  --rm-color-alerts-danger-luminosity-96: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 96%);
  --rm-color-alerts-danger-luminosity-98: hsl(var(--rm-color-red-h) var(--rm-color-red-s) 98%);
}

@mixin alerts-info-luminosity-scale {
  --rm-color-alerts-info-original: hsl(
    var(--rm-color-blue-h) var(--rm-color-blue-s) var(--rm-color-blue-l)
  );

  // Alert Info Luminosity Scale
  --rm-color-alerts-info-luminosity-4: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 4%);
  --rm-color-alerts-info-luminosity-8: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 8%);
  --rm-color-alerts-info-luminosity-16: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 16%);
  --rm-color-alerts-info-luminosity-20: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 20%);
  --rm-color-alerts-info-luminosity-24: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 24%);
  --rm-color-alerts-info-luminosity-28: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 28%);
  --rm-color-alerts-info-luminosity-32: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 32%);
  --rm-color-alerts-info-luminosity-36: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 36%);
  --rm-color-alerts-info-luminosity-40: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 40%);
  --rm-color-alerts-info-luminosity-52: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 52%);
  --rm-color-alerts-info-luminosity-64: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 64%);
  --rm-color-alerts-info-luminosity-70: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 70%);
  --rm-color-alerts-info-luminosity-84: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 84%);
  --rm-color-alerts-info-luminosity-90: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 90%);
  --rm-color-alerts-info-luminosity-94: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 94%);
  --rm-color-alerts-info-luminosity-96: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 96%);
  --rm-color-alerts-info-luminosity-98: hsl(var(--rm-color-blue-h) var(--rm-color-blue-s) 98%);
}

@mixin alerts-notice-luminosity-scale {
  --rm-color-alerts-notice-original: hsl(
    var(--rm-color-green-h) var(--rm-color-green-s) var(--rm-color-green-l)
  );

  // Alert Notice Luminosity Scale
  --rm-color-alerts-notice-luminosity-4: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 4%);
  --rm-color-alerts-notice-luminosity-8: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 8%);
  --rm-color-alerts-notice-luminosity-16: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 16%);
  --rm-color-alerts-notice-luminosity-20: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 20%);
  --rm-color-alerts-notice-luminosity-24: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 24%);
  --rm-color-alerts-notice-luminosity-28: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 28%);
  --rm-color-alerts-notice-luminosity-32: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 32%);
  --rm-color-alerts-notice-luminosity-36: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 36%);
  --rm-color-alerts-notice-luminosity-40: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 40%);
  --rm-color-alerts-notice-luminosity-52: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 52%);
  --rm-color-alerts-notice-luminosity-64: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 64%);
  --rm-color-alerts-notice-luminosity-70: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 70%);
  --rm-color-alerts-notice-luminosity-84: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 84%);
  --rm-color-alerts-notice-luminosity-90: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 90%);
  --rm-color-alerts-notice-luminosity-94: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 94%);
  --rm-color-alerts-notice-luminosity-96: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 96%);
  --rm-color-alerts-notice-luminosity-98: hsl(var(--rm-color-green-h) var(--rm-color-green-s) 98%);
}

@mixin alerts-warning-semantic-scale {
  // Main Scale
  --rm-color-alerts-warning-plus-max: var(--rm-color-white);
  --rm-color-alerts-warning-plus-eight: var(--rm-color-alerts-warning-luminosity-98);
  --rm-color-alerts-warning-plus-seven: var(--rm-color-alerts-warning-luminosity-96);
  --rm-color-alerts-warning-plus-six: var(--rm-color-alerts-warning-luminosity-94);
  --rm-color-alerts-warning-plus-five: var(--rm-color-alerts-warning-luminosity-90);
  --rm-color-alerts-warning-plus-four: var(--rm-color-alerts-warning-luminosity-84);
  --rm-color-alerts-warning-plus-three: var(--rm-color-alerts-warning-luminosity-70);
  --rm-color-alerts-warning-plus-two: var(--rm-color-alerts-warning-luminosity-64);
  --rm-color-alerts-warning-plus-one: var(--rm-color-alerts-warning-luminosity-52);
  --rm-color-alerts-warning-base: var(--rm-color-alerts-warning-luminosity-40);
  --rm-color-alerts-warning-minus-one: var(--rm-color-alerts-warning-luminosity-36);
  --rm-color-alerts-warning-minus-two: var(--rm-color-alerts-warning-luminosity-32);
  --rm-color-alerts-warning-minus-three: var(--rm-color-alerts-warning-luminosity-28);
  --rm-color-alerts-warning-minus-four: var(--rm-color-alerts-warning-luminosity-24);
  --rm-color-alerts-warning-minus-five: var(--rm-color-alerts-warning-luminosity-20);
  --rm-color-alerts-warning-minus-six: var(--rm-color-alerts-warning-luminosity-16);
  --rm-color-alerts-warning-minus-seven: var(--rm-color-alerts-warning-luminosity-8);
  --rm-color-alerts-warning-minus-eight: var(--rm-color-alerts-warning-luminosity-4);
  --rm-color-alerts-warning-minus-max: var(--rm-color-black);

  // On Scale
  --rm-color-alerts-warning-on-plus-max: var(--rm-color-black);
  --rm-color-alerts-warning-on-plus-eight: var(--rm-color-alerts-warning-luminosity-4);
  --rm-color-alerts-warning-on-plus-seven: var(--rm-color-alerts-warning-luminosity-8);
  --rm-color-alerts-warning-on-plus-six: var(--rm-color-alerts-warning-luminosity-16);
  --rm-color-alerts-warning-on-plus-five: var(--rm-color-alerts-warning-luminosity-20);
  --rm-color-alerts-warning-on-plus-four: var(--rm-color-alerts-warning-luminosity-24);
  --rm-color-alerts-warning-on-plus-three: var(--rm-color-alerts-warning-luminosity-20);
  --rm-color-alerts-warning-on-plus-two: var(--rm-color-alerts-warning-luminosity-16);
  --rm-color-alerts-warning-on-plus-one: var(--rm-color-white);
  --rm-color-alerts-warning-on-base: var(--rm-color-white);
  --rm-color-alerts-warning-on-minus-one: var(--rm-color-alerts-warning-luminosity-94);
  --rm-color-alerts-warning-on-minus-two: var(--rm-color-alerts-warning-luminosity-90);
  --rm-color-alerts-warning-on-minus-three: var(--rm-color-alerts-warning-luminosity-86);
  --rm-color-alerts-warning-on-minus-four: var(--rm-color-alerts-warning-luminosity-84);
  --rm-color-alerts-warning-on-minus-five: var(--rm-color-alerts-warning-luminosity-88);
  --rm-color-alerts-warning-on-minus-six: var(--rm-color-alerts-warning-luminosity-94);
  --rm-color-alerts-warning-on-minus-seven: var(--rm-color-alerts-warning-luminosity-96);
  --rm-color-alerts-warning-on-minus-eight: var(--rm-color-alerts-warning-luminosity-98);
  --rm-color-alerts-warning-on-minus-max: var(--rm-color-white);
}

@mixin alerts-danger-semantic-scale {
  // Main Scale
  --rm-color-alerts-danger-plus-max: var(--rm-color-white);
  --rm-color-alerts-danger-plus-eight: var(--rm-color-alerts-danger-luminosity-98);
  --rm-color-alerts-danger-plus-seven: var(--rm-color-alerts-danger-luminosity-96);
  --rm-color-alerts-danger-plus-six: var(--rm-color-alerts-danger-luminosity-94);
  --rm-color-alerts-danger-plus-five: var(--rm-color-alerts-danger-luminosity-90);
  --rm-color-alerts-danger-plus-four: var(--rm-color-alerts-danger-luminosity-84);
  --rm-color-alerts-danger-plus-three: var(--rm-color-alerts-danger-luminosity-70);
  --rm-color-alerts-danger-plus-two: var(--rm-color-alerts-danger-luminosity-64);
  --rm-color-alerts-danger-plus-one: var(--rm-color-alerts-danger-luminosity-52);
  --rm-color-alerts-danger-base: var(--rm-color-alerts-danger-luminosity-40);
  --rm-color-alerts-danger-minus-one: var(--rm-color-alerts-danger-luminosity-36);
  --rm-color-alerts-danger-minus-two: var(--rm-color-alerts-danger-luminosity-32);
  --rm-color-alerts-danger-minus-three: var(--rm-color-alerts-danger-luminosity-28);
  --rm-color-alerts-danger-minus-four: var(--rm-color-alerts-danger-luminosity-24);
  --rm-color-alerts-danger-minus-five: var(--rm-color-alerts-danger-luminosity-20);
  --rm-color-alerts-danger-minus-six: var(--rm-color-alerts-danger-luminosity-16);
  --rm-color-alerts-danger-minus-seven: var(--rm-color-alerts-danger-luminosity-8);
  --rm-color-alerts-danger-minus-eight: var(--rm-color-alerts-danger-luminosity-4);
  --rm-color-alerts-danger-minus-max: var(--rm-color-black);

  // On Scale
  --rm-color-alerts-danger-on-plus-max: var(--rm-color-black);
  --rm-color-alerts-danger-on-plus-eight: var(--rm-color-alerts-danger-luminosity-4);
  --rm-color-alerts-danger-on-plus-seven: var(--rm-color-alerts-danger-luminosity-8);
  --rm-color-alerts-danger-on-plus-six: var(--rm-color-alerts-danger-luminosity-16);
  --rm-color-alerts-danger-on-plus-five: var(--rm-color-alerts-danger-luminosity-20);
  --rm-color-alerts-danger-on-plus-four: var(--rm-color-alerts-danger-luminosity-24);
  --rm-color-alerts-danger-on-plus-three: var(--rm-color-alerts-danger-luminosity-20);
  --rm-color-alerts-danger-on-plus-two: var(--rm-color-alerts-danger-luminosity-16);
  --rm-color-alerts-danger-on-plus-one: var(--rm-color-white);
  --rm-color-alerts-danger-on-base: var(--rm-color-white);
  --rm-color-alerts-danger-on-minus-one: var(--rm-color-alerts-danger-luminosity-94);
  --rm-color-alerts-danger-on-minus-two: var(--rm-color-alerts-danger-luminosity-90);
  --rm-color-alerts-danger-on-minus-three: var(--rm-color-alerts-danger-luminosity-86);
  --rm-color-alerts-danger-on-minus-four: var(--rm-color-alerts-danger-luminosity-84);
  --rm-color-alerts-danger-on-minus-five: var(--rm-color-alerts-danger-luminosity-88);
  --rm-color-alerts-danger-on-minus-six: var(--rm-color-alerts-danger-luminosity-94);
  --rm-color-alerts-danger-on-minus-seven: var(--rm-color-alerts-danger-luminosity-96);
  --rm-color-alerts-danger-on-minus-eight: var(--rm-color-alerts-danger-luminosity-98);
  --rm-color-alerts-danger-on-minus-max: var(--rm-color-white);
}

@mixin alerts-info-semantic-scale {
  // Main Scale
  --rm-color-alerts-info-plus-max: var(--rm-color-white);
  --rm-color-alerts-info-plus-eight: var(--rm-color-alerts-info-luminosity-98);
  --rm-color-alerts-info-plus-seven: var(--rm-color-alerts-info-luminosity-96);
  --rm-color-alerts-info-plus-six: var(--rm-color-alerts-info-luminosity-94);
  --rm-color-alerts-info-plus-five: var(--rm-color-alerts-info-luminosity-90);
  --rm-color-alerts-info-plus-four: var(--rm-color-alerts-info-luminosity-84);
  --rm-color-alerts-info-plus-three: var(--rm-color-alerts-info-luminosity-70);
  --rm-color-alerts-info-plus-two: var(--rm-color-alerts-info-luminosity-64);
  --rm-color-alerts-info-plus-one: var(--rm-color-alerts-info-luminosity-52);
  --rm-color-alerts-info-base: var(--rm-color-alerts-info-luminosity-40);
  --rm-color-alerts-info-minus-one: var(--rm-color-alerts-info-luminosity-36);
  --rm-color-alerts-info-minus-two: var(--rm-color-alerts-info-luminosity-32);
  --rm-color-alerts-info-minus-three: var(--rm-color-alerts-info-luminosity-28);
  --rm-color-alerts-info-minus-four: var(--rm-color-alerts-info-luminosity-24);
  --rm-color-alerts-info-minus-five: var(--rm-color-alerts-info-luminosity-20);
  --rm-color-alerts-info-minus-six: var(--rm-color-alerts-info-luminosity-16);
  --rm-color-alerts-info-minus-seven: var(--rm-color-alerts-info-luminosity-8);
  --rm-color-alerts-info-minus-eight: var(--rm-color-alerts-info-luminosity-4);
  --rm-color-alerts-info-minus-max: var(--rm-color-black);

  // On Scale
  --rm-color-alerts-info-on-plus-max: var(--rm-color-black);
  --rm-color-alerts-info-on-plus-eight: var(--rm-color-alerts-info-luminosity-4);
  --rm-color-alerts-info-on-plus-seven: var(--rm-color-alerts-info-luminosity-8);
  --rm-color-alerts-info-on-plus-six: var(--rm-color-alerts-info-luminosity-16);
  --rm-color-alerts-info-on-plus-five: var(--rm-color-alerts-info-luminosity-20);
  --rm-color-alerts-info-on-plus-four: var(--rm-color-alerts-info-luminosity-24);
  --rm-color-alerts-info-on-plus-three: var(--rm-color-alerts-info-luminosity-20);
  --rm-color-alerts-info-on-plus-two: var(--rm-color-alerts-info-luminosity-16);
  --rm-color-alerts-info-on-plus-one: var(--rm-color-white);
  --rm-color-alerts-info-on-base: var(--rm-color-white);
  --rm-color-alerts-info-on-minus-one: var(--rm-color-alerts-info-luminosity-94);
  --rm-color-alerts-info-on-minus-two: var(--rm-color-alerts-info-luminosity-90);
  --rm-color-alerts-info-on-minus-three: var(--rm-color-alerts-info-luminosity-86);
  --rm-color-alerts-info-on-minus-four: var(--rm-color-alerts-info-luminosity-84);
  --rm-color-alerts-info-on-minus-five: var(--rm-color-alerts-info-luminosity-88);
  --rm-color-alerts-info-on-minus-six: var(--rm-color-alerts-info-luminosity-94);
  --rm-color-alerts-info-on-minus-seven: var(--rm-color-alerts-info-luminosity-96);
  --rm-color-alerts-info-on-minus-eight: var(--rm-color-alerts-info-luminosity-98);
  --rm-color-alerts-info-on-minus-max: var(--rm-color-white);
}

@mixin alerts-notice-semantic-scale {
  // Main Scale
  --rm-color-alerts-notice-plus-max: var(--rm-color-white);
  --rm-color-alerts-notice-plus-eight: var(--rm-color-alerts-notice-luminosity-98);
  --rm-color-alerts-notice-plus-seven: var(--rm-color-alerts-notice-luminosity-96);
  --rm-color-alerts-notice-plus-six: var(--rm-color-alerts-notice-luminosity-94);
  --rm-color-alerts-notice-plus-five: var(--rm-color-alerts-notice-luminosity-90);
  --rm-color-alerts-notice-plus-four: var(--rm-color-alerts-notice-luminosity-84);
  --rm-color-alerts-notice-plus-three: var(--rm-color-alerts-notice-luminosity-70);
  --rm-color-alerts-notice-plus-two: var(--rm-color-alerts-notice-luminosity-64);
  --rm-color-alerts-notice-plus-one: var(--rm-color-alerts-notice-luminosity-52);
  --rm-color-alerts-notice-base: var(--rm-color-alerts-notice-luminosity-40);
  --rm-color-alerts-notice-minus-one: var(--rm-color-alerts-notice-luminosity-36);
  --rm-color-alerts-notice-minus-two: var(--rm-color-alerts-notice-luminosity-32);
  --rm-color-alerts-notice-minus-three: var(--rm-color-alerts-notice-luminosity-28);
  --rm-color-alerts-notice-minus-four: var(--rm-color-alerts-notice-luminosity-24);
  --rm-color-alerts-notice-minus-five: var(--rm-color-alerts-notice-luminosity-20);
  --rm-color-alerts-notice-minus-six: var(--rm-color-alerts-notice-luminosity-16);
  --rm-color-alerts-notice-minus-seven: var(--rm-color-alerts-notice-luminosity-8);
  --rm-color-alerts-notice-minus-eight: var(--rm-color-alerts-notice-luminosity-4);
  --rm-color-alerts-notice-minus-max: var(--rm-color-black);

  // On Scale
  --rm-color-alerts-notice-on-plus-max: var(--rm-color-black);
  --rm-color-alerts-notice-on-plus-eight: var(--rm-color-alerts-notice-luminosity-4);
  --rm-color-alerts-notice-on-plus-seven: var(--rm-color-alerts-notice-luminosity-8);
  --rm-color-alerts-notice-on-plus-six: var(--rm-color-alerts-notice-luminosity-16);
  --rm-color-alerts-notice-on-plus-five: var(--rm-color-alerts-notice-luminosity-20);
  --rm-color-alerts-notice-on-plus-four: var(--rm-color-alerts-notice-luminosity-24);
  --rm-color-alerts-notice-on-plus-three: var(--rm-color-alerts-notice-luminosity-20);
  --rm-color-alerts-notice-on-plus-two: var(--rm-color-alerts-notice-luminosity-16);
  --rm-color-alerts-notice-on-plus-one: var(--rm-color-white);
  --rm-color-alerts-notice-on-base: var(--rm-color-white);
  --rm-color-alerts-notice-on-minus-one: var(--rm-color-alerts-notice-luminosity-94);
  --rm-color-alerts-notice-on-minus-two: var(--rm-color-alerts-notice-luminosity-90);
  --rm-color-alerts-notice-on-minus-three: var(--rm-color-alerts-notice-luminosity-86);
  --rm-color-alerts-notice-on-minus-four: var(--rm-color-alerts-notice-luminosity-84);
  --rm-color-alerts-notice-on-minus-five: var(--rm-color-alerts-notice-luminosity-88);
  --rm-color-alerts-notice-on-minus-six: var(--rm-color-alerts-notice-luminosity-94);
  --rm-color-alerts-notice-on-minus-seven: var(--rm-color-alerts-notice-luminosity-96);
  --rm-color-alerts-notice-on-minus-eight: var(--rm-color-alerts-notice-luminosity-98);
  --rm-color-alerts-notice-on-minus-max: var(--rm-color-white);
}

:root {
  @include alerts-warning-luminosity-scale;
  @include alerts-danger-luminosity-scale;
  @include alerts-info-luminosity-scale;
  @include alerts-notice-luminosity-scale;

  // Semantic Scales: plus adds luminosity, minus removes luminosity
  // This borrows from the photography concept of Aperture f-stops.
  // https://www.adobe.com/creativecloud/photography/discover/f-stop.html
  @include alerts-warning-semantic-scale;
  @include alerts-danger-semantic-scale;
  @include alerts-info-semantic-scale;
  @include alerts-notice-semantic-scale;
}
