@mixin primary-semantic-scale-dark {
  --rm-color-primary-plus-max:  var(--rm-color-black);
  --rm-color-primary-plus-3:    var(--rm-color-primary-luminosity-10);
  --rm-color-primary-plus-2:    var(--rm-color-primary-luminosity-15);
  --rm-color-primary-plus-1:    var(--rm-color-primary-luminosity-20);
  --rm-color-primary-hover:     var(--rm-color-primary-luminosity-20);
  --rm-color-primary-base:      var(--rm-color-primary-luminosity-25);
  --rm-color-primary-minus-1:   var(--rm-color-primary-luminosity-35);
  --rm-color-primary-minus-2:   var(--rm-color-primary-luminosity-40);
  --rm-color-primary-minus-3:   var(--rm-color-primary-luminosity-60);
  --rm-color-primary-minus-max: var(--rm-color-white);

  --rm-color-primary-on-plus-max:  var(--rm-color-primary-luminosity-98);
  --rm-color-primary-on-plus-3:    var(--rm-color-white);
  --rm-color-primary-on-plus-2:    var(--rm-color-white);
  --rm-color-primary-on-plus-1:    var(--rm-color-primary-luminosity-90);
  --rm-color-primary-on-hover:     var(--rm-color-primary-luminosity-90);
  --rm-color-primary-on-base:      var(--rm-color-primary-luminosity-80);
  --rm-color-primary-on-minus-1:   var(--rm-color-primary-luminosity-90);
  --rm-color-primary-on-minus-2:   var(--rm-color-white);
  --rm-color-primary-on-minus-3:   var(--rm-color-primary-luminosity-5);
  --rm-color-primary-on-minus-max: var(--rm-color-primary-luminosity-15);
}

@mixin neutral-semantic-scale-dark {
  --rm-color-neutral-plus-max:  var(--rm-color-black);
  --rm-color-neutral-plus-3:    var(--rm-color-neutral-luminosity-10);
  --rm-color-neutral-plus-2:    var(--rm-color-neutral-luminosity-15);
  --rm-color-neutral-plus-1:    var(--rm-color-neutral-luminosity-20);
  --rm-color-neutral-hover:     var(--rm-color-neutral-luminosity-20);
  --rm-color-neutral-base:      var(--rm-color-neutral-luminosity-25);
  --rm-color-neutral-minus-1:   var(--rm-color-neutral-luminosity-35);
  --rm-color-neutral-minus-2:   var(--rm-color-neutral-luminosity-40);
  --rm-color-neutral-minus-3:   var(--rm-color-neutral-luminosity-60);
  --rm-color-neutral-minus-max: var(--rm-color-white);

  --rm-color-neutral-on-plus-max:  var(--rm-color-neutral-luminosity-98);
  --rm-color-neutral-on-plus-3:    var(--rm-color-white);
  --rm-color-neutral-on-plus-2:    var(--rm-color-white);
  --rm-color-neutral-on-plus-1:    var(--rm-color-neutral-luminosity-90);
  --rm-color-neutral-on-hover:     var(--rm-color-neutral-luminosity-90);
  --rm-color-neutral-on-base:      var(--rm-color-neutral-luminosity-80);
  --rm-color-neutral-on-minus-1:   var(--rm-color-neutral-luminosity-90);
  --rm-color-neutral-on-minus-2:   var(--rm-color-white);
  --rm-color-neutral-on-minus-3:   var(--rm-color-neutral-luminosity-5);
  --rm-color-neutral-on-minus-max: var(--rm-color-neutral-luminosity-15);
}

@mixin background-dark {
  --rm-color-background:    var(--rm-color-neutral-luminosity-10);
  --rm-color-on-background: var(--rm-color-neutral-luminosity-90);
}

@mixin shadows-dark {
  --rm-shadow-x-small: 0px 1px 3px hsla(0, 0%, 0%, 0.15), 0px 1px 2px hsla(0, 0%, 0%, 0.3);
  --rm-shadow-small:   0px 2px 6px hsla(0, 0%, 0%, 0.15), 0px 1px 2px hsla(0, 0%, 0%, 0.3);
  --rm-shadow-medium:  0px 4px 8px hsla(0, 0%, 0%, 0.15), 0px 1px 3px hsla(0, 0%, 0%, 0.3);
  --rm-shadow-large:   0px 6px 10px hsla(0, 0%, 0%, 0.15), 0px 2px 3px hsla(0, 0%, 0%, 0.3);
  --rm-shadow-x-large: 0px 8px 12px hsla(0, 0%, 0%, 0.15), 0px 4px 4px hsla(0, 0%, 0%, 0.3);
}

@mixin modal-dark {
  .modal__content {
    background: var(--rm-color-neutral-plus-3);
    color: var(--rm-color-neutral-on-plus-3);
  }

  .modal__close {
    &:hover {
      background: var(--rm-color-background);
    }
  }
}

@mixin panel-dark {
  .panel {
    background: var(--rm-color-neutral-plus-3);
    color: var(--rm-color-neutral-on-plus-3);
  }

  .panel__close {
    &:hover {
      background: var(--rm-color-background);
    }
  }
}

@mixin all-tokens-dark {
  @include primary-semantic-scale-dark;
  @include neutral-semantic-scale-dark;

  @include background-dark;

  @include shadows-dark;

  @include modal-dark;
  @include panel-dark;
}

// Follow system preference unless forced to light
@media (prefers-color-scheme: dark) {
  :root:not([data-theme-mode='light']) {
    @include all-tokens-dark;
  }
}

// Force design system to dark
:root[data-theme-mode='dark'] {
  @include all-tokens-dark;
}
