@mixin primary-semantic-scale-dark {
  --rm-color-primary-plus-max:    var(--rm-color-black);
  --rm-color-primary-plus-eight:  var(--rm-color-primary-luminosity-4);
  --rm-color-primary-plus-seven:  var(--rm-color-primary-luminosity-8);
  --rm-color-primary-plus-six:    var(--rm-color-primary-luminosity-12);
  --rm-color-primary-plus-five:   var(--rm-color-primary-luminosity-14);
  --rm-color-primary-plus-four:   var(--rm-color-primary-luminosity-16);
  --rm-color-primary-plus-three:  var(--rm-color-primary-luminosity-20);
  --rm-color-primary-plus-two:    var(--rm-color-primary-luminosity-24);
  --rm-color-primary-plus-one:    var(--rm-color-primary-luminosity-28);
  --rm-color-primary-base:        var(--rm-color-primary-luminosity-32);
  --rm-color-primary-minus-one:   var(--rm-color-primary-luminosity-36);
  --rm-color-primary-minus-two:   var(--rm-color-primary-luminosity-40);
  --rm-color-primary-minus-three: var(--rm-color-primary-luminosity-48);
  --rm-color-primary-minus-four:  var(--rm-color-primary-luminosity-52);
  --rm-color-primary-minus-five:  var(--rm-color-primary-luminosity-64);
  --rm-color-primary-minus-six:   var(--rm-color-primary-luminosity-72);
  --rm-color-primary-minus-seven: var(--rm-color-primary-luminosity-80);
  --rm-color-primary-minus-eight: var(--rm-color-primary-luminosity-88);
  --rm-color-primary-minus-max:   var(--rm-color-white);

  --rm-color-primary-on-plus-max:    var(--rm-color-white);
  --rm-color-primary-on-plus-eight:  var(--rm-color-primary-luminosity-88);
  --rm-color-primary-on-plus-seven:  var(--rm-color-primary-luminosity-80);
  --rm-color-primary-on-plus-six:    var(--rm-color-primary-luminosity-72);
  --rm-color-primary-on-plus-five:   var(--rm-color-primary-luminosity-72);
  --rm-color-primary-on-plus-four:   var(--rm-color-primary-luminosity-80);
  --rm-color-primary-on-plus-three:  var(--rm-color-primary-luminosity-88);
  --rm-color-primary-on-plus-two:    var(--rm-color-primary-luminosity-88);
  --rm-color-primary-on-plus-one:    var(--rm-color-white);
  --rm-color-primary-on-base:        var(--rm-color-white);
  --rm-color-primary-on-minus-one:   var(--rm-color-primary-luminosity-90);

  --rm-color-primary-on-minus-two:   var(--rm-color-primary-luminosity-90);
  --rm-color-primary-on-minus-three: var(--rm-color-primary-luminosity-86);
  --rm-color-primary-on-minus-four:  var(--rm-color-primary-luminosity-84);
  --rm-color-primary-on-minus-five:  var(--rm-color-primary-luminosity-20);
  --rm-color-primary-on-minus-six:   var(--rm-color-primary-luminosity-16);
  --rm-color-primary-on-minus-seven: var(--rm-color-primary-luminosity-8);
  --rm-color-primary-on-minus-eight: var(--rm-color-primary-luminosity-4);
  --rm-color-primary-on-minus-max:   var(--rm-color-black);
}

@mixin neutral-semantic-scale-dark {
  --rm-color-neutral-plus-max:    var(--rm-color-black);
  --rm-color-neutral-plus-eight:  var(--rm-color-neutral-luminosity-4);
  --rm-color-neutral-plus-seven:  var(--rm-color-neutral-luminosity-8);
  --rm-color-neutral-plus-six:    var(--rm-color-neutral-luminosity-12);
  --rm-color-neutral-plus-five:   var(--rm-color-neutral-luminosity-14);
  --rm-color-neutral-plus-four:   var(--rm-color-neutral-luminosity-16);
  --rm-color-neutral-plus-three:  var(--rm-color-neutral-luminosity-20);
  --rm-color-neutral-plus-two:    var(--rm-color-neutral-luminosity-24);
  --rm-color-neutral-plus-one:    var(--rm-color-neutral-luminosity-28);
  --rm-color-neutral-base:        var(--rm-color-neutral-luminosity-32);
  --rm-color-neutral-minus-one:   var(--rm-color-neutral-luminosity-36);
  --rm-color-neutral-minus-two:   var(--rm-color-neutral-luminosity-40);
  --rm-color-neutral-minus-three: var(--rm-color-neutral-luminosity-48);
  --rm-color-neutral-minus-four:  var(--rm-color-neutral-luminosity-52);
  --rm-color-neutral-minus-five:  var(--rm-color-neutral-luminosity-64);
  --rm-color-neutral-minus-six:   var(--rm-color-neutral-luminosity-72);
  --rm-color-neutral-minus-seven: var(--rm-color-neutral-luminosity-80);
  --rm-color-neutral-minus-eight: var(--rm-color-neutral-luminosity-88);
  --rm-color-neutral-minus-max:   var(--rm-color-white);

  --rm-color-neutral-on-plus-max:    var(--rm-color-white);
  --rm-color-neutral-on-plus-eight:  var(--rm-color-neutral-luminosity-88);
  --rm-color-neutral-on-plus-seven:  var(--rm-color-neutral-luminosity-80);
  --rm-color-neutral-on-plus-six:    var(--rm-color-neutral-luminosity-72);
  --rm-color-neutral-on-plus-five:   var(--rm-color-neutral-luminosity-72);
  --rm-color-neutral-on-plus-four:   var(--rm-color-neutral-luminosity-80);
  --rm-color-neutral-on-plus-three:  var(--rm-color-neutral-luminosity-88);
  --rm-color-neutral-on-plus-two:    var(--rm-color-neutral-luminosity-88);
  --rm-color-neutral-on-plus-one:    var(--rm-color-white);
  --rm-color-neutral-on-base:        var(--rm-color-white);
  --rm-color-neutral-on-minus-one:   var(--rm-color-neutral-luminosity-90);

  --rm-color-neutral-on-minus-two:   var(--rm-color-neutral-luminosity-90);
  --rm-color-neutral-on-minus-three: var(--rm-color-neutral-luminosity-86);
  --rm-color-neutral-on-minus-four:  var(--rm-color-neutral-luminosity-84);
  --rm-color-neutral-on-minus-five:  var(--rm-color-neutral-luminosity-20);
  --rm-color-neutral-on-minus-six:   var(--rm-color-neutral-luminosity-16);
  --rm-color-neutral-on-minus-seven: var(--rm-color-neutral-luminosity-8);
  --rm-color-neutral-on-minus-eight: var(--rm-color-neutral-luminosity-4);
  --rm-color-neutral-on-minus-max:   var(--rm-color-black);
}

@mixin alerts-warning-semantic-scale-dark {
  --rm-color-alerts-warning-plus-max:    var(--rm-color-black);
  --rm-color-alerts-warning-plus-eight:  var(--rm-color-alerts-warning-luminosity-4);
  --rm-color-alerts-warning-plus-seven:  var(--rm-color-alerts-warning-luminosity-8);
  --rm-color-alerts-warning-plus-six:    var(--rm-color-alerts-warning-luminosity-12);
  --rm-color-alerts-warning-plus-five:   var(--rm-color-alerts-warning-luminosity-14);
  --rm-color-alerts-warning-plus-four:   var(--rm-color-alerts-warning-luminosity-16);
  --rm-color-alerts-warning-plus-three:  var(--rm-color-alerts-warning-luminosity-20);
  --rm-color-alerts-warning-plus-two:    var(--rm-color-alerts-warning-luminosity-24);
  --rm-color-alerts-warning-plus-one:    var(--rm-color-alerts-warning-luminosity-28);
  --rm-color-alerts-warning-base:        var(--rm-color-alerts-warning-luminosity-32);
  --rm-color-alerts-warning-minus-one:   var(--rm-color-alerts-warning-luminosity-36);
  --rm-color-alerts-warning-minus-two:   var(--rm-color-alerts-warning-luminosity-40);
  --rm-color-alerts-warning-minus-three: var(--rm-color-alerts-warning-luminosity-48);
  --rm-color-alerts-warning-minus-four:  var(--rm-color-alerts-warning-luminosity-52);
  --rm-color-alerts-warning-minus-five:  var(--rm-color-alerts-warning-luminosity-64);
  --rm-color-alerts-warning-minus-six:   var(--rm-color-alerts-warning-luminosity-72);
  --rm-color-alerts-warning-minus-seven: var(--rm-color-alerts-warning-luminosity-80);
  --rm-color-alerts-warning-minus-eight: var(--rm-color-alerts-warning-luminosity-88);
  --rm-color-alerts-warning-minus-max:   var(--rm-color-white);

  --rm-color-alerts-warning-on-plus-max:    var(--rm-color-white);
  --rm-color-alerts-warning-on-plus-eight:  var(--rm-color-alerts-warning-luminosity-88);
  --rm-color-alerts-warning-on-plus-seven:  var(--rm-color-alerts-warning-luminosity-80);
  --rm-color-alerts-warning-on-plus-six:    var(--rm-color-alerts-warning-luminosity-72);
  --rm-color-alerts-warning-on-plus-five:   var(--rm-color-alerts-warning-luminosity-72);
  --rm-color-alerts-warning-on-plus-four:   var(--rm-color-alerts-warning-luminosity-80);
  --rm-color-alerts-warning-on-plus-three:  var(--rm-color-alerts-warning-luminosity-88);
  --rm-color-alerts-warning-on-plus-two:    var(--rm-color-alerts-warning-luminosity-88);
  --rm-color-alerts-warning-on-plus-one:    var(--rm-color-white);
  --rm-color-alerts-warning-on-base:        var(--rm-color-white);
  --rm-color-alerts-warning-on-minus-one:   var(--rm-color-alerts-warning-luminosity-90);

  --rm-color-alerts-warning-on-minus-two:   var(--rm-color-alerts-warning-luminosity-90);
  --rm-color-alerts-warning-on-minus-three: var(--rm-color-alerts-warning-luminosity-86);
  --rm-color-alerts-warning-on-minus-four:  var(--rm-color-alerts-warning-luminosity-84);
  --rm-color-alerts-warning-on-minus-five:  var(--rm-color-alerts-warning-luminosity-20);
  --rm-color-alerts-warning-on-minus-six:   var(--rm-color-alerts-warning-luminosity-16);
  --rm-color-alerts-warning-on-minus-seven: var(--rm-color-alerts-warning-luminosity-8);
  --rm-color-alerts-warning-on-minus-eight: var(--rm-color-alerts-warning-luminosity-4);
  --rm-color-alerts-warning-on-minus-max:   var(--rm-color-black);
}

@mixin alerts-danger-semantic-scale-dark {
  --rm-color-alerts-danger-plus-max:    var(--rm-color-black);
  --rm-color-alerts-danger-plus-eight:  var(--rm-color-alerts-danger-luminosity-4);
  --rm-color-alerts-danger-plus-seven:  var(--rm-color-alerts-danger-luminosity-8);
  --rm-color-alerts-danger-plus-six:    var(--rm-color-alerts-danger-luminosity-12);
  --rm-color-alerts-danger-plus-five:   var(--rm-color-alerts-danger-luminosity-14);
  --rm-color-alerts-danger-plus-four:   var(--rm-color-alerts-danger-luminosity-16);
  --rm-color-alerts-danger-plus-three:  var(--rm-color-alerts-danger-luminosity-20);
  --rm-color-alerts-danger-plus-two:    var(--rm-color-alerts-danger-luminosity-24);
  --rm-color-alerts-danger-plus-one:    var(--rm-color-alerts-danger-luminosity-28);
  --rm-color-alerts-danger-base:        var(--rm-color-alerts-danger-luminosity-32);
  --rm-color-alerts-danger-minus-one:   var(--rm-color-alerts-danger-luminosity-36);
  --rm-color-alerts-danger-minus-two:   var(--rm-color-alerts-danger-luminosity-40);
  --rm-color-alerts-danger-minus-three: var(--rm-color-alerts-danger-luminosity-48);
  --rm-color-alerts-danger-minus-four:  var(--rm-color-alerts-danger-luminosity-52);
  --rm-color-alerts-danger-minus-five:  var(--rm-color-alerts-danger-luminosity-64);
  --rm-color-alerts-danger-minus-six:   var(--rm-color-alerts-danger-luminosity-72);
  --rm-color-alerts-danger-minus-seven: var(--rm-color-alerts-danger-luminosity-80);
  --rm-color-alerts-danger-minus-eight: var(--rm-color-alerts-danger-luminosity-88);
  --rm-color-alerts-danger-minus-max:   var(--rm-color-white);

  --rm-color-alerts-danger-on-plus-max:    var(--rm-color-white);
  --rm-color-alerts-danger-on-plus-eight:  var(--rm-color-alerts-danger-luminosity-88);
  --rm-color-alerts-danger-on-plus-seven:  var(--rm-color-alerts-danger-luminosity-80);
  --rm-color-alerts-danger-on-plus-six:    var(--rm-color-alerts-danger-luminosity-72);
  --rm-color-alerts-danger-on-plus-five:   var(--rm-color-alerts-danger-luminosity-72);
  --rm-color-alerts-danger-on-plus-four:   var(--rm-color-alerts-danger-luminosity-80);
  --rm-color-alerts-danger-on-plus-three:  var(--rm-color-alerts-danger-luminosity-88);
  --rm-color-alerts-danger-on-plus-two:    var(--rm-color-alerts-danger-luminosity-88);
  --rm-color-alerts-danger-on-plus-one:    var(--rm-color-white);
  --rm-color-alerts-danger-on-base:        var(--rm-color-white);
  --rm-color-alerts-danger-on-minus-one:   var(--rm-color-alerts-danger-luminosity-90);

  --rm-color-alerts-danger-on-minus-two:   var(--rm-color-alerts-danger-luminosity-90);
  --rm-color-alerts-danger-on-minus-three: var(--rm-color-alerts-danger-luminosity-86);
  --rm-color-alerts-danger-on-minus-four:  var(--rm-color-alerts-danger-luminosity-84);
  --rm-color-alerts-danger-on-minus-five:  var(--rm-color-alerts-danger-luminosity-20);
  --rm-color-alerts-danger-on-minus-six:   var(--rm-color-alerts-danger-luminosity-16);
  --rm-color-alerts-danger-on-minus-seven: var(--rm-color-alerts-danger-luminosity-8);
  --rm-color-alerts-danger-on-minus-eight: var(--rm-color-alerts-danger-luminosity-4);
  --rm-color-alerts-danger-on-minus-max:   var(--rm-color-black);
}

@mixin alerts-info-semantic-scale-dark {
  --rm-color-alerts-info-plus-max:    var(--rm-color-black);
  --rm-color-alerts-info-plus-eight:  var(--rm-color-alerts-info-luminosity-4);
  --rm-color-alerts-info-plus-seven:  var(--rm-color-alerts-info-luminosity-8);
  --rm-color-alerts-info-plus-six:    var(--rm-color-alerts-info-luminosity-12);
  --rm-color-alerts-info-plus-five:   var(--rm-color-alerts-info-luminosity-14);
  --rm-color-alerts-info-plus-four:   var(--rm-color-alerts-info-luminosity-16);
  --rm-color-alerts-info-plus-three:  var(--rm-color-alerts-info-luminosity-20);
  --rm-color-alerts-info-plus-two:    var(--rm-color-alerts-info-luminosity-24);
  --rm-color-alerts-info-plus-one:    var(--rm-color-alerts-info-luminosity-28);
  --rm-color-alerts-info-base:        var(--rm-color-alerts-info-luminosity-32);
  --rm-color-alerts-info-minus-one:   var(--rm-color-alerts-info-luminosity-36);
  --rm-color-alerts-info-minus-two:   var(--rm-color-alerts-info-luminosity-40);
  --rm-color-alerts-info-minus-three: var(--rm-color-alerts-info-luminosity-48);
  --rm-color-alerts-info-minus-four:  var(--rm-color-alerts-info-luminosity-52);
  --rm-color-alerts-info-minus-five:  var(--rm-color-alerts-info-luminosity-64);
  --rm-color-alerts-info-minus-six:   var(--rm-color-alerts-info-luminosity-72);
  --rm-color-alerts-info-minus-seven: var(--rm-color-alerts-info-luminosity-80);
  --rm-color-alerts-info-minus-eight: var(--rm-color-alerts-info-luminosity-88);
  --rm-color-alerts-info-minus-max:   var(--rm-color-white);

  --rm-color-alerts-info-on-plus-max:    var(--rm-color-white);
  --rm-color-alerts-info-on-plus-eight:  var(--rm-color-alerts-info-luminosity-88);
  --rm-color-alerts-info-on-plus-seven:  var(--rm-color-alerts-info-luminosity-80);
  --rm-color-alerts-info-on-plus-six:    var(--rm-color-alerts-info-luminosity-72);
  --rm-color-alerts-info-on-plus-five:   var(--rm-color-alerts-info-luminosity-72);
  --rm-color-alerts-info-on-plus-four:   var(--rm-color-alerts-info-luminosity-80);
  --rm-color-alerts-info-on-plus-three:  var(--rm-color-alerts-info-luminosity-88);
  --rm-color-alerts-info-on-plus-two:    var(--rm-color-alerts-info-luminosity-88);
  --rm-color-alerts-info-on-plus-one:    var(--rm-color-white);
  --rm-color-alerts-info-on-base:        var(--rm-color-white);
  --rm-color-alerts-info-on-minus-one:   var(--rm-color-alerts-info-luminosity-90);

  --rm-color-alerts-info-on-minus-two:   var(--rm-color-alerts-info-luminosity-90);
  --rm-color-alerts-info-on-minus-three: var(--rm-color-alerts-info-luminosity-86);
  --rm-color-alerts-info-on-minus-four:  var(--rm-color-alerts-info-luminosity-84);
  --rm-color-alerts-info-on-minus-five:  var(--rm-color-alerts-info-luminosity-20);
  --rm-color-alerts-info-on-minus-six:   var(--rm-color-alerts-info-luminosity-16);
  --rm-color-alerts-info-on-minus-seven: var(--rm-color-alerts-info-luminosity-8);
  --rm-color-alerts-info-on-minus-eight: var(--rm-color-alerts-info-luminosity-4);
  --rm-color-alerts-info-on-minus-max:   var(--rm-color-black);
}

@mixin alerts-notice-semantic-scale-dark {
  --rm-color-alerts-notice-plus-max:    var(--rm-color-black);
  --rm-color-alerts-notice-plus-eight:  var(--rm-color-alerts-notice-luminosity-4);
  --rm-color-alerts-notice-plus-seven:  var(--rm-color-alerts-notice-luminosity-8);
  --rm-color-alerts-notice-plus-six:    var(--rm-color-alerts-notice-luminosity-12);
  --rm-color-alerts-notice-plus-five:   var(--rm-color-alerts-notice-luminosity-14);
  --rm-color-alerts-notice-plus-four:   var(--rm-color-alerts-notice-luminosity-16);
  --rm-color-alerts-notice-plus-three:  var(--rm-color-alerts-notice-luminosity-20);
  --rm-color-alerts-notice-plus-two:    var(--rm-color-alerts-notice-luminosity-24);
  --rm-color-alerts-notice-plus-one:    var(--rm-color-alerts-notice-luminosity-28);
  --rm-color-alerts-notice-base:        var(--rm-color-alerts-notice-luminosity-32);
  --rm-color-alerts-notice-minus-one:   var(--rm-color-alerts-notice-luminosity-36);
  --rm-color-alerts-notice-minus-two:   var(--rm-color-alerts-notice-luminosity-40);
  --rm-color-alerts-notice-minus-three: var(--rm-color-alerts-notice-luminosity-48);
  --rm-color-alerts-notice-minus-four:  var(--rm-color-alerts-notice-luminosity-52);
  --rm-color-alerts-notice-minus-five:  var(--rm-color-alerts-notice-luminosity-64);
  --rm-color-alerts-notice-minus-six:   var(--rm-color-alerts-notice-luminosity-72);
  --rm-color-alerts-notice-minus-seven: var(--rm-color-alerts-notice-luminosity-80);
  --rm-color-alerts-notice-minus-eight: var(--rm-color-alerts-notice-luminosity-88);
  --rm-color-alerts-notice-minus-max:   var(--rm-color-white);

  --rm-color-alerts-notice-on-plus-max:    var(--rm-color-white);
  --rm-color-alerts-notice-on-plus-eight:  var(--rm-color-alerts-notice-luminosity-88);
  --rm-color-alerts-notice-on-plus-seven:  var(--rm-color-alerts-notice-luminosity-80);
  --rm-color-alerts-notice-on-plus-six:    var(--rm-color-alerts-notice-luminosity-72);
  --rm-color-alerts-notice-on-plus-five:   var(--rm-color-alerts-notice-luminosity-72);
  --rm-color-alerts-notice-on-plus-four:   var(--rm-color-alerts-notice-luminosity-80);
  --rm-color-alerts-notice-on-plus-three:  var(--rm-color-alerts-notice-luminosity-88);
  --rm-color-alerts-notice-on-plus-two:    var(--rm-color-alerts-notice-luminosity-88);
  --rm-color-alerts-notice-on-plus-one:    var(--rm-color-white);
  --rm-color-alerts-notice-on-base:        var(--rm-color-white);
  --rm-color-alerts-notice-on-minus-one:   var(--rm-color-alerts-notice-luminosity-90);

  --rm-color-alerts-notice-on-minus-two:   var(--rm-color-alerts-notice-luminosity-90);
  --rm-color-alerts-notice-on-minus-three: var(--rm-color-alerts-notice-luminosity-86);
  --rm-color-alerts-notice-on-minus-four:  var(--rm-color-alerts-notice-luminosity-84);
  --rm-color-alerts-notice-on-minus-five:  var(--rm-color-alerts-notice-luminosity-20);
  --rm-color-alerts-notice-on-minus-six:   var(--rm-color-alerts-notice-luminosity-16);
  --rm-color-alerts-notice-on-minus-seven: var(--rm-color-alerts-notice-luminosity-8);
  --rm-color-alerts-notice-on-minus-eight: var(--rm-color-alerts-notice-luminosity-4);
  --rm-color-alerts-notice-on-minus-max:   var(--rm-color-black);
}

@mixin shadows-dark {
  --rm-shadow-x-small: 0px 1px 3px hsla(0, 0%, 0%, 0.15), 0px 1px 2px hsla(0, 0%, 0%, 0.3);
  --rm-shadow-small:   0px 2px 6px hsla(0, 0%, 0%, 0.15), 0px 1px 2px hsla(0, 0%, 0%, 0.3);
  --rm-shadow-medium:  0px 4px 8px hsla(0, 0%, 0%, 0.15), 0px 1px 3px hsla(0, 0%, 0%, 0.3);
  --rm-shadow-large:   0px 6px 10px hsla(0, 0%, 0%, 0.15), 0px 2px 3px hsla(0, 0%, 0%, 0.3);
  --rm-shadow-x-large: 0px 8px 12px hsla(0, 0%, 0%, 0.15), 0px 4px 4px hsla(0, 0%, 0%, 0.3);
}

@mixin modal-dark {
  .modal__content {
    background: var(--rm-color-neutral-plus-seven);
    color: var(--rm-color-neutral-on-plus-seven);
  }

  .modal__close {
    &:hover {
      background: var(--rm-color-background);
    }
  }
}

@mixin panel-dark {
  .panel {
    background: var(--rm-color-neutral-plus-seven);
    color: var(--rm-color-neutral-on-plus-seven);
  }

  .panel__close {
    &:hover {
      background: var(--rm-color-background);
    }
  }
}

@mixin all-tokens-dark {
  @include primary-semantic-scale-dark;
  @include neutral-semantic-scale-dark;

  @include alerts-warning-semantic-scale-dark;
  @include alerts-danger-semantic-scale-dark;
  @include alerts-info-semantic-scale-dark;
  @include alerts-notice-semantic-scale-dark;

  @include shadows-dark;

  @include modal-dark;
  @include panel-dark;
}

// Follow system preference unless forced to light
@media (prefers-color-scheme: dark) {
  :root:not([data-theme-mode='light']) {
    @include all-tokens-dark;
  }
}

// Force design system to dark
:root[data-theme-mode='dark'] {
  @include all-tokens-dark;
}
