@mixin primary-semantic-scale-dark {
  // TODO: Review
  --rm-color-primary-minus-max:   var(--rm-color-white);
  --rm-color-primary-minus-eight: var(--rm-color-primary-luminosity-98);
  --rm-color-primary-minus-seven: var(--rm-color-primary-luminosity-96);
  --rm-color-primary-minus-six:   var(--rm-color-primary-luminosity-94);
  --rm-color-primary-minus-five:  var(--rm-color-primary-luminosity-90);
  --rm-color-primary-minus-four:  var(--rm-color-primary-luminosity-84);
  --rm-color-primary-minus-three: var(--rm-color-primary-luminosity-70);
  --rm-color-primary-minus-two:   var(--rm-color-primary-luminosity-64);
  --rm-color-primary-minus-one:   var(--rm-color-primary-luminosity-52);
  --rm-color-primary-base:        var(--rm-color-primary-luminosity-40);
  --rm-color-primary-plus-one:    var(--rm-color-primary-luminosity-36);
  --rm-color-primary-plus-two:    var(--rm-color-primary-luminosity-32);
  --rm-color-primary-plus-three:  var(--rm-color-primary-luminosity-28);
  --rm-color-primary-plus-four:   var(--rm-color-primary-luminosity-24);
  --rm-color-primary-plus-five:   var(--rm-color-primary-luminosity-20);
  --rm-color-primary-plus-six:    var(--rm-color-primary-luminosity-16);
  --rm-color-primary-plus-seven:  var(--rm-color-primary-luminosity-8);
  --rm-color-primary-plus-eight:  var(--rm-color-primary-luminosity-4);
  --rm-color-primary-plus-max:    var(--rm-color-black);

  --rm-color-primary-on-minus-max:   var(--rm-color-black);
  --rm-color-primary-on-minus-eight: var(--rm-color-primary-luminosity-4);
  --rm-color-primary-on-minus-seven: var(--rm-color-primary-luminosity-8);
  --rm-color-primary-on-minus-six:   var(--rm-color-primary-luminosity-16);
  --rm-color-primary-on-minus-five:  var(--rm-color-primary-luminosity-20);
  --rm-color-primary-on-minus-four:  var(--rm-color-primary-luminosity-24);
  --rm-color-primary-on-minus-three: var(--rm-color-primary-luminosity-20);
  --rm-color-primary-on-minus-two:   var(--rm-color-primary-luminosity-16);
  --rm-color-primary-on-minus-one:   hsl(60, 100%, 100%); // Where does the 60 come from?
  --rm-color-primary-on-base:        var(--rm-color-white);
  --rm-color-primary-on-plus-one:    var(--rm-color-primary-luminosity-94);
  --rm-color-primary-on-plus-two:    var(--rm-color-primary-luminosity-90);
  --rm-color-primary-on-plus-three:  var(--rm-color-primary-luminosity-86);
  --rm-color-primary-on-plus-four:   var(--rm-color-primary-luminosity-84);
  --rm-color-primary-on-plus-five:   var(--rm-color-primary-luminosity-88);
  --rm-color-primary-on-plus-six:    var(--rm-color-primary-luminosity-94);
  --rm-color-primary-on-plus-seven:  var(--rm-color-primary-luminosity-96);
  --rm-color-primary-on-plus-eight:  var(--rm-color-primary-luminosity-98);
  --rm-color-primary-on-plus-max:    var(--rm-color-white);
}

@mixin neutral-semantic-scale-dark {
  // TODO: Review
  --rm-color-neutral-minus-max:   var(--rm-color-white);
  --rm-color-neutral-minus-eight: var(--rm-color-neutral-luminosity-98);
  --rm-color-neutral-minus-seven: var(--rm-color-neutral-luminosity-96);
  --rm-color-neutral-minus-six:   var(--rm-color-neutral-luminosity-94);
  --rm-color-neutral-minus-five:  var(--rm-color-neutral-luminosity-90);
  --rm-color-neutral-minus-four:  var(--rm-color-neutral-luminosity-84);
  --rm-color-neutral-minus-three: var(--rm-color-neutral-luminosity-70);
  --rm-color-neutral-minus-two:   var(--rm-color-neutral-luminosity-64);
  --rm-color-neutral-minus-one:   var(--rm-color-neutral-luminosity-52);
  --rm-color-neutral-base:        var(--rm-color-neutral-luminosity-40);
  --rm-color-neutral-plus-one:    var(--rm-color-neutral-luminosity-36);
  --rm-color-neutral-plus-two:    var(--rm-color-neutral-luminosity-32);
  --rm-color-neutral-plus-three:  var(--rm-color-neutral-luminosity-28);
  --rm-color-neutral-plus-four:   var(--rm-color-neutral-luminosity-24);
  --rm-color-neutral-plus-five:   var(--rm-color-neutral-luminosity-20);
  --rm-color-neutral-plus-six:    var(--rm-color-neutral-luminosity-16);
  --rm-color-neutral-plus-seven:  var(--rm-color-neutral-luminosity-8);
  --rm-color-neutral-plus-eight:  var(--rm-color-neutral-luminosity-4);
  --rm-color-neutral-plus-max:    var(--rm-color-black);

  --rm-color-neutral-on-minus-max:   var(--rm-color-black);
  --rm-color-neutral-on-minus-eight: var(--rm-color-neutral-luminosity-4);
  --rm-color-neutral-on-minus-seven: var(--rm-color-neutral-luminosity-8);
  --rm-color-neutral-on-minus-six:   var(--rm-color-neutral-luminosity-16);
  --rm-color-neutral-on-minus-five:  var(--rm-color-neutral-luminosity-20);
  --rm-color-neutral-on-minus-four:  var(--rm-color-neutral-luminosity-24);
  --rm-color-neutral-on-minus-three: var(--rm-color-neutral-luminosity-20);
  --rm-color-neutral-on-minus-two:   var(--rm-color-neutral-luminosity-16);
  --rm-color-neutral-on-minus-one:   var(--rm-color-black);
  --rm-color-neutral-on-base:        var(--rm-color-white);
  --rm-color-neutral-on-plus-one:    var(--rm-color-neutral-luminosity-94);
  --rm-color-neutral-on-plus-two:    var(--rm-color-neutral-luminosity-90);
  --rm-color-neutral-on-plus-three:  var(--rm-color-neutral-luminosity-86);
  --rm-color-neutral-on-plus-four:   var(--rm-color-neutral-luminosity-84);
  --rm-color-neutral-on-plus-five:   var(--rm-color-neutral-luminosity-88);
  --rm-color-neutral-on-plus-six:    var(--rm-color-neutral-luminosity-94);
  --rm-color-neutral-on-plus-seven:  var(--rm-color-neutral-luminosity-96);
  --rm-color-neutral-on-plus-eight:  var(--rm-color-neutral-luminosity-98);
  --rm-color-neutral-on-plus-max:    var(--rm-color-white)
}

@mixin alerts-warning-semantic-scale-dark {
  --rm-color-alerts-warning-plus-max:  var(--rm-color-black);
  --rm-color-alerts-warning-plus-3:    var(--rm-color-alerts-warning-luminosity-10);
  --rm-color-alerts-warning-plus-2:    var(--rm-color-alerts-warning-luminosity-15);
  --rm-color-alerts-warning-plus-1:    var(--rm-color-alerts-warning-luminosity-20);
  --rm-color-alerts-warning-hover:     var(--rm-color-alerts-warning-luminosity-20);
  --rm-color-alerts-warning-base:      var(--rm-color-alerts-warning-luminosity-25);
  --rm-color-alerts-warning-minus-1:   var(--rm-color-alerts-warning-luminosity-35);
  --rm-color-alerts-warning-minus-2:   var(--rm-color-alerts-warning-luminosity-40);
  --rm-color-alerts-warning-minus-3:   var(--rm-color-alerts-warning-luminosity-60);
  --rm-color-alerts-warning-minus-max: var(--rm-color-white);

  --rm-color-alerts-warning-on-plus-max:  var(--rm-color-alerts-warning-luminosity-98);
  --rm-color-alerts-warning-on-plus-3:    var(--rm-color-white);
  --rm-color-alerts-warning-on-plus-2:    var(--rm-color-white);
  --rm-color-alerts-warning-on-plus-1:    var(--rm-color-alerts-warning-luminosity-90);
  --rm-color-alerts-warning-on-hover:     var(--rm-color-alerts-warning-luminosity-90);
  --rm-color-alerts-warning-on-base:      var(--rm-color-alerts-warning-luminosity-80);
  --rm-color-alerts-warning-on-minus-1:   var(--rm-color-alerts-warning-luminosity-90);
  --rm-color-alerts-warning-on-minus-2:   var(--rm-color-white);
  --rm-color-alerts-warning-on-minus-3:   var(--rm-color-alerts-warning-luminosity-5);
  --rm-color-alerts-warning-on-minus-max: var(--rm-color-alerts-warning-luminosity-15);
}

@mixin alerts-danger-semantic-scale-dark {
  --rm-color-alerts-danger-plus-max:  var(--rm-color-black);
  --rm-color-alerts-danger-plus-3:    var(--rm-color-alerts-danger-luminosity-10);
  --rm-color-alerts-danger-plus-2:    var(--rm-color-alerts-danger-luminosity-15);
  --rm-color-alerts-danger-plus-1:    var(--rm-color-alerts-danger-luminosity-20);
  --rm-color-alerts-danger-hover:     var(--rm-color-alerts-danger-luminosity-20);
  --rm-color-alerts-danger-base:      var(--rm-color-alerts-danger-luminosity-25);
  --rm-color-alerts-danger-minus-1:   var(--rm-color-alerts-danger-luminosity-35);
  --rm-color-alerts-danger-minus-2:   var(--rm-color-alerts-danger-luminosity-40);
  --rm-color-alerts-danger-minus-3:   var(--rm-color-alerts-danger-luminosity-60);
  --rm-color-alerts-danger-minus-max: var(--rm-color-white);

  --rm-color-alerts-danger-on-plus-max:  var(--rm-color-alerts-danger-luminosity-98);
  --rm-color-alerts-danger-on-plus-3:    var(--rm-color-white);
  --rm-color-alerts-danger-on-plus-2:    var(--rm-color-white);
  --rm-color-alerts-danger-on-plus-1:    var(--rm-color-alerts-danger-luminosity-90);
  --rm-color-alerts-danger-on-hover:     var(--rm-color-alerts-danger-luminosity-90);
  --rm-color-alerts-danger-on-base:      var(--rm-color-alerts-danger-luminosity-80);
  --rm-color-alerts-danger-on-minus-1:   var(--rm-color-alerts-danger-luminosity-90);
  --rm-color-alerts-danger-on-minus-2:   var(--rm-color-white);
  --rm-color-alerts-danger-on-minus-3:   var(--rm-color-alerts-danger-luminosity-5);
  --rm-color-alerts-danger-on-minus-max: var(--rm-color-alerts-danger-luminosity-15);
}

@mixin alerts-info-semantic-scale-dark {
  --rm-color-alerts-info-plus-max:  var(--rm-color-black);
  --rm-color-alerts-info-plus-3:    var(--rm-color-alerts-info-luminosity-10);
  --rm-color-alerts-info-plus-2:    var(--rm-color-alerts-info-luminosity-15);
  --rm-color-alerts-info-plus-1:    var(--rm-color-alerts-info-luminosity-20);
  --rm-color-alerts-info-hover:     var(--rm-color-alerts-info-luminosity-20);
  --rm-color-alerts-info-base:      var(--rm-color-alerts-info-luminosity-25);
  --rm-color-alerts-info-minus-1:   var(--rm-color-alerts-info-luminosity-35);
  --rm-color-alerts-info-minus-2:   var(--rm-color-alerts-info-luminosity-40);
  --rm-color-alerts-info-minus-3:   var(--rm-color-alerts-info-luminosity-60);
  --rm-color-alerts-info-minus-max: var(--rm-color-white);

  --rm-color-alerts-info-on-plus-max:  var(--rm-color-alerts-info-luminosity-98);
  --rm-color-alerts-info-on-plus-3:    var(--rm-color-white);
  --rm-color-alerts-info-on-plus-2:    var(--rm-color-white);
  --rm-color-alerts-info-on-plus-1:    var(--rm-color-alerts-info-luminosity-90);
  --rm-color-alerts-info-on-hover:     var(--rm-color-alerts-info-luminosity-90);
  --rm-color-alerts-info-on-base:      var(--rm-color-alerts-info-luminosity-80);
  --rm-color-alerts-info-on-minus-1:   var(--rm-color-alerts-info-luminosity-90);
  --rm-color-alerts-info-on-minus-2:   var(--rm-color-white);
  --rm-color-alerts-info-on-minus-3:   var(--rm-color-alerts-info-luminosity-5);
  --rm-color-alerts-info-on-minus-max: var(--rm-color-alerts-info-luminosity-15);
}

@mixin alerts-notice-semantic-scale-dark {
  --rm-color-alerts-notice-plus-max:  var(--rm-color-black);
  --rm-color-alerts-notice-plus-3:    var(--rm-color-alerts-notice-luminosity-10);
  --rm-color-alerts-notice-plus-2:    var(--rm-color-alerts-notice-luminosity-15);
  --rm-color-alerts-notice-plus-1:    var(--rm-color-alerts-notice-luminosity-20);
  --rm-color-alerts-notice-hover:     var(--rm-color-alerts-notice-luminosity-20);
  --rm-color-alerts-notice-base:      var(--rm-color-alerts-notice-luminosity-25);
  --rm-color-alerts-notice-minus-1:   var(--rm-color-alerts-notice-luminosity-35);
  --rm-color-alerts-notice-minus-2:   var(--rm-color-alerts-notice-luminosity-40);
  --rm-color-alerts-notice-minus-3:   var(--rm-color-alerts-notice-luminosity-60);
  --rm-color-alerts-notice-minus-max: var(--rm-color-white);

  --rm-color-alerts-notice-on-plus-max:  var(--rm-color-alerts-notice-luminosity-98);
  --rm-color-alerts-notice-on-plus-3:    var(--rm-color-white);
  --rm-color-alerts-notice-on-plus-2:    var(--rm-color-white);
  --rm-color-alerts-notice-on-plus-1:    var(--rm-color-alerts-notice-luminosity-90);
  --rm-color-alerts-notice-on-hover:     var(--rm-color-alerts-notice-luminosity-90);
  --rm-color-alerts-notice-on-base:      var(--rm-color-alerts-notice-luminosity-80);
  --rm-color-alerts-notice-on-minus-1:   var(--rm-color-alerts-notice-luminosity-90);
  --rm-color-alerts-notice-on-minus-2:   var(--rm-color-white);
  --rm-color-alerts-notice-on-minus-3:   var(--rm-color-alerts-notice-luminosity-5);
  --rm-color-alerts-notice-on-minus-max: var(--rm-color-alerts-notice-luminosity-15);
}

@mixin background-dark {
  --rm-color-background:    var(--rm-color-neutral-luminosity-10);
  --rm-color-on-background: var(--rm-color-neutral-luminosity-90);
}

@mixin shadows-dark {
  --rm-shadow-x-small: 0px 1px 3px hsla(0, 0%, 0%, 0.15), 0px 1px 2px hsla(0, 0%, 0%, 0.3);
  --rm-shadow-small:   0px 2px 6px hsla(0, 0%, 0%, 0.15), 0px 1px 2px hsla(0, 0%, 0%, 0.3);
  --rm-shadow-medium:  0px 4px 8px hsla(0, 0%, 0%, 0.15), 0px 1px 3px hsla(0, 0%, 0%, 0.3);
  --rm-shadow-large:   0px 6px 10px hsla(0, 0%, 0%, 0.15), 0px 2px 3px hsla(0, 0%, 0%, 0.3);
  --rm-shadow-x-large: 0px 8px 12px hsla(0, 0%, 0%, 0.15), 0px 4px 4px hsla(0, 0%, 0%, 0.3);
}

@mixin modal-dark {
  .modal__content {
    background: var(--rm-color-neutral-plus-seven);
    color: var(--rm-color-neutral-on-plus-seven);
  }

  .modal__close {
    &:hover {
      background: var(--rm-color-background);
    }
  }
}

@mixin panel-dark {
  .panel {
    background: var(--rm-color-neutral-plus-seven);
    color: var(--rm-color-neutral-on-plus-seven);
  }

  .panel__close {
    &:hover {
      background: var(--rm-color-background);
    }
  }
}

@mixin all-tokens-dark {
  @include primary-semantic-scale-dark;
  @include neutral-semantic-scale-dark;

  @include alerts-warning-semantic-scale-dark;
  @include alerts-danger-semantic-scale-dark;
  @include alerts-info-semantic-scale-dark;
  @include alerts-notice-semantic-scale-dark;

  @include background-dark;

  @include shadows-dark;

  @include modal-dark;
  @include panel-dark;
}

// Follow system preference unless forced to light
@media (prefers-color-scheme: dark) {
  :root:not([data-theme-mode='light']) {
    @include all-tokens-dark;
  }
}

// Force design system to dark
:root[data-theme-mode='dark'] {
  @include all-tokens-dark;
}
