/*
  See all icons at: https://feathericons.com/
  Icons provided via https://github.com/AT-UI/feather-font
  Icons extracted from https://at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css
  The CDN provided selectors did not use a prefix to avoid naming conflicts
  Current version: 4.29.0
*/

/* Feather Icons */
@font-face {
  font-family: 'feather';
  src: url('https://at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.eot?t=1501828829848'); /* IE9*/
  src:
    url('https://at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.eot?t=1501828829848#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.woff?t=1501828829848') format('woff'),
    /* chrome, firefox */ url('https://at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.ttf?t=1501828829848') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url('https://at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.svg?t=1501828829848#feather') format('svg'); /* iOS 4.1- */
}

.fi {
  font-family: 'feather' !important;
  font-size: var(--__op-icon-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

.fi-alert-octagon:before {
  content: '\e81b';
}

.fi-alert-circle:before {
  content: '\e81c';
}

.fi-activity:before {
  content: '\e81d';
}

.fi-alert-triangle:before {
  content: '\e81e';
}

.fi-align-center:before {
  content: '\e81f';
}

.fi-airplay:before {
  content: '\e820';
}

.fi-align-justify:before {
  content: '\e821';
}

.fi-align-left:before {
  content: '\e822';
}

.fi-align-right:before {
  content: '\e823';
}

.fi-arrow-down-left:before {
  content: '\e824';
}

.fi-arrow-down-right:before {
  content: '\e825';
}

.fi-anchor:before {
  content: '\e826';
}

.fi-aperture:before {
  content: '\e827';
}

.fi-arrow-left:before {
  content: '\e828';
}

.fi-arrow-right:before {
  content: '\e829';
}

.fi-arrow-down:before {
  content: '\e82a';
}

.fi-arrow-up-left:before {
  content: '\e82b';
}

.fi-arrow-up-right:before {
  content: '\e82c';
}

.fi-arrow-up:before {
  content: '\e82d';
}

.fi-award:before {
  content: '\e82e';
}

.fi-bar-chart:before {
  content: '\e82f';
}

.fi-at-sign:before {
  content: '\e830';
}

.fi-bar-chart-:before {
  content: '\e831';
}

.fi-battery-charging:before {
  content: '\e832';
}

.fi-bell-off:before {
  content: '\e833';
}

.fi-battery:before {
  content: '\e834';
}

.fi-bluetooth:before {
  content: '\e835';
}

.fi-bell:before {
  content: '\e836';
}

.fi-book:before {
  content: '\e837';
}

.fi-briefcase:before {
  content: '\e838';
}

.fi-camera-off:before {
  content: '\e839';
}

.fi-calendar:before {
  content: '\e83a';
}

.fi-bookmark:before {
  content: '\e83b';
}

.fi-box:before {
  content: '\e83c';
}

.fi-camera:before {
  content: '\e83d';
}

.fi-check-circle:before {
  content: '\e83e';
}

.fi-check:before {
  content: '\e83f';
}

.fi-check-square:before {
  content: '\e840';
}

.fi-cast:before {
  content: '\e841';
}

.fi-chevron-down:before {
  content: '\e842';
}

.fi-chevron-left:before {
  content: '\e843';
}

.fi-chevron-right:before {
  content: '\e844';
}

.fi-chevron-up:before {
  content: '\e845';
}

.fi-chevrons-down:before {
  content: '\e846';
}

.fi-chevrons-right:before {
  content: '\e847';
}

.fi-chevrons-up:before {
  content: '\e848';
}

.fi-chevrons-left:before {
  content: '\e849';
}

.fi-circle:before {
  content: '\e84a';
}

.fi-clipboard:before {
  content: '\e84b';
}

.fi-chrome:before {
  content: '\e84c';
}

.fi-clock:before {
  content: '\e84d';
}

.fi-cloud-lightning:before {
  content: '\e84e';
}

.fi-cloud-drizzle:before {
  content: '\e84f';
}

.fi-cloud-rain:before {
  content: '\e850';
}

.fi-cloud-off:before {
  content: '\e851';
}

.fi-codepen:before {
  content: '\e852';
}

.fi-cloud-snow:before {
  content: '\e853';
}

.fi-compass:before {
  content: '\e854';
}

.fi-copy:before {
  content: '\e855';
}

.fi-corner-down-right:before {
  content: '\e856';
}

.fi-corner-down-left:before {
  content: '\e857';
}

.fi-corner-left-down:before {
  content: '\e858';
}

.fi-corner-left-up:before {
  content: '\e859';
}

.fi-corner-up-left:before {
  content: '\e85a';
}

.fi-corner-up-right:before {
  content: '\e85b';
}

.fi-corner-right-down:before {
  content: '\e85c';
}

.fi-corner-right-up:before {
  content: '\e85d';
}

.fi-cpu:before {
  content: '\e85e';
}

.fi-credit-card:before {
  content: '\e85f';
}

.fi-crosshair:before {
  content: '\e860';
}

.fi-disc:before {
  content: '\e861';
}

.fi-delete:before {
  content: '\e862';
}

.fi-download-cloud:before {
  content: '\e863';
}

.fi-download:before {
  content: '\e864';
}

.fi-droplet:before {
  content: '\e865';
}

.fi-edit-:before {
  content: '\e866';
}

.fi-edit:before {
  content: '\e867';
}

.fi-edit-1:before {
  content: '\e868';
}

.fi-external-link:before {
  content: '\e869';
}

.fi-eye:before {
  content: '\e86a';
}

.fi-feather:before {
  content: '\e86b';
}

.fi-facebook:before {
  content: '\e86c';
}

.fi-file-minus:before {
  content: '\e86d';
}

.fi-eye-off:before {
  content: '\e86e';
}

.fi-fast-forward:before {
  content: '\e86f';
}

.fi-file-text:before {
  content: '\e870';
}

.fi-film:before {
  content: '\e871';
}

.fi-file:before {
  content: '\e872';
}

.fi-file-plus:before {
  content: '\e873';
}

.fi-folder:before {
  content: '\e874';
}

.fi-filter:before {
  content: '\e875';
}

.fi-flag:before {
  content: '\e876';
}

.fi-globe:before {
  content: '\e877';
}

.fi-grid:before {
  content: '\e878';
}

.fi-heart:before {
  content: '\e879';
}

.fi-home:before {
  content: '\e87a';
}

.fi-github:before {
  content: '\e87b';
}

.fi-image:before {
  content: '\e87c';
}

.fi-inbox:before {
  content: '\e87d';
}

.fi-layers:before {
  content: '\e87e';
}

.fi-info:before {
  content: '\e87f';
}

.fi-instagram:before {
  content: '\e880';
}

.fi-layout:before {
  content: '\e881';
}

.fi-link-:before {
  content: '\e882';
}

.fi-life-buoy:before {
  content: '\e883';
}

.fi-link:before {
  content: '\e884';
}

.fi-log-in:before {
  content: '\e885';
}

.fi-list:before {
  content: '\e886';
}

.fi-lock:before {
  content: '\e887';
}

.fi-log-out:before {
  content: '\e888';
}

.fi-loader:before {
  content: '\e889';
}

.fi-mail:before {
  content: '\e88a';
}

.fi-maximize-:before {
  content: '\e88b';
}

.fi-map:before {
  content: '\e88c';
}

.fi-maximize:before {
  content: '\e88d';
}

.fi-map-pin:before {
  content: '\e88e';
}

.fi-menu:before {
  content: '\e88f';
}

.fi-message-circle:before {
  content: '\e890';
}

.fi-message-square:before {
  content: '\e891';
}

.fi-minimize-:before {
  content: '\e892';
}

.fi-mic-off:before {
  content: '\e893';
}

.fi-minus-circle:before {
  content: '\e894';
}

.fi-mic:before {
  content: '\e895';
}

.fi-minus-square:before {
  content: '\e896';
}

.fi-minus:before {
  content: '\e897';
}

.fi-moon:before {
  content: '\e898';
}

.fi-monitor:before {
  content: '\e899';
}

.fi-more-vertical:before {
  content: '\e89a';
}

.fi-more-horizontal:before {
  content: '\e89b';
}

.fi-move:before {
  content: '\e89c';
}

.fi-music:before {
  content: '\e89d';
}

.fi-navigation-:before {
  content: '\e89e';
}

.fi-navigation:before {
  content: '\e89f';
}

.fi-octagon:before {
  content: '\e8a0';
}

.fi-package:before {
  content: '\e8a1';
}

.fi-pause-circle:before {
  content: '\e8a2';
}

.fi-pause:before {
  content: '\e8a3';
}

.fi-percent:before {
  content: '\e8a4';
}

.fi-phone-call:before {
  content: '\e8a5';
}

.fi-phone-forwarded:before {
  content: '\e8a6';
}

.fi-phone-missed:before {
  content: '\e8a7';
}

.fi-phone-off:before {
  content: '\e8a8';
}

.fi-phone-incoming:before {
  content: '\e8a9';
}

.fi-phone:before {
  content: '\e8aa';
}

.fi-phone-outgoing:before {
  content: '\e8ab';
}

.fi-pie-chart:before {
  content: '\e8ac';
}

.fi-play-circle:before {
  content: '\e8ad';
}

.fi-play:before {
  content: '\e8ae';
}

.fi-plus-square:before {
  content: '\e8af';
}

.fi-plus-circle:before {
  content: '\e8b0';
}

.fi-plus:before {
  content: '\e8b1';
}

.fi-pocket:before {
  content: '\e8b2';
}

.fi-printer:before {
  content: '\e8b3';
}

.fi-power:before {
  content: '\e8b4';
}

.fi-radio:before {
  content: '\e8b5';
}

.fi-repeat:before {
  content: '\e8b6';
}

.fi-refresh-ccw:before {
  content: '\e8b7';
}

.fi-rewind:before {
  content: '\e8b8';
}

.fi-rotate-ccw:before {
  content: '\e8b9';
}

.fi-refresh-cw:before {
  content: '\e8ba';
}

.fi-rotate-cw:before {
  content: '\e8bb';
}

.fi-save:before {
  content: '\e8bc';
}

.fi-search:before {
  content: '\e8bd';
}

.fi-server:before {
  content: '\e8be';
}

.fi-scissors:before {
  content: '\e8bf';
}

.fi-share-:before {
  content: '\e8c0';
}

.fi-share:before {
  content: '\e8c1';
}

.fi-shield:before {
  content: '\e8c2';
}

.fi-settings:before {
  content: '\e8c3';
}

.fi-skip-back:before {
  content: '\e8c4';
}

.fi-shuffle:before {
  content: '\e8c5';
}

.fi-sidebar:before {
  content: '\e8c6';
}

.fi-skip-forward:before {
  content: '\e8c7';
}

.fi-slack:before {
  content: '\e8c8';
}

.fi-slash:before {
  content: '\e8c9';
}

.fi-smartphone:before {
  content: '\e8ca';
}

.fi-square:before {
  content: '\e8cb';
}

.fi-speaker:before {
  content: '\e8cc';
}

.fi-star:before {
  content: '\e8cd';
}

.fi-stop-circle:before {
  content: '\e8ce';
}

.fi-sun:before {
  content: '\e8cf';
}

.fi-sunrise:before {
  content: '\e8d0';
}

.fi-tablet:before {
  content: '\e8d1';
}

.fi-tag:before {
  content: '\e8d2';
}

.fi-sunset:before {
  content: '\e8d3';
}

.fi-target:before {
  content: '\e8d4';
}

.fi-thermometer:before {
  content: '\e8d5';
}

.fi-thumbs-up:before {
  content: '\e8d6';
}

.fi-thumbs-down:before {
  content: '\e8d7';
}

.fi-toggle-left:before {
  content: '\e8d8';
}

.fi-toggle-right:before {
  content: '\e8d9';
}

.fi-trash-:before {
  content: '\e8da';
}

.fi-trash:before {
  content: '\e8db';
}

.fi-trending-up:before {
  content: '\e8dc';
}

.fi-trending-down:before {
  content: '\e8dd';
}

.fi-triangle:before {
  content: '\e8de';
}

.fi-type:before {
  content: '\e8df';
}

.fi-twitter:before {
  content: '\e8e0';
}

.fi-upload:before {
  content: '\e8e1';
}

.fi-umbrella:before {
  content: '\e8e2';
}

.fi-upload-cloud:before {
  content: '\e8e3';
}

.fi-unlock:before {
  content: '\e8e4';
}

.fi-user-check:before {
  content: '\e8e5';
}

.fi-user-minus:before {
  content: '\e8e6';
}

.fi-user-plus:before {
  content: '\e8e7';
}

.fi-user-x:before {
  content: '\e8e8';
}

.fi-user:before {
  content: '\e8e9';
}

.fi-users:before {
  content: '\e8ea';
}

.fi-video-off:before {
  content: '\e8eb';
}

.fi-video:before {
  content: '\e8ec';
}

.fi-voicemail:before {
  content: '\e8ed';
}

.fi-volume-x:before {
  content: '\e8ee';
}

.fi-volume-:before {
  content: '\e8ef';
}

.fi-volume-1:before {
  content: '\e8f0';
}

.fi-volume:before {
  content: '\e8f1';
}

.fi-watch:before {
  content: '\e8f2';
}

.fi-wifi:before {
  content: '\e8f3';
}

.fi-x-square:before {
  content: '\e8f4';
}

.fi-wind:before {
  content: '\e8f5';
}

.fi-x:before {
  content: '\e8f6';
}

.fi-x-circle:before {
  content: '\e8f7';
}

.fi-zap:before {
  content: '\e8f8';
}

.fi-zoom-in:before {
  content: '\e8f9';
}

.fi-zoom-out:before {
  content: '\e8fa';
}

.fi-command:before {
  content: '\e8fb';
}

.fi-cloud:before {
  content: '\e8fc';
}

.fi-hash:before {
  content: '\e8fd';
}

.fi-headphones:before {
  content: '\e8fe';
}
