// Using Mixins allows us to include them at a component level
// as needed and override them.

// A 5 color theme. 3 main colors, a neutral color and a neutral variant
@mixin color-varieties {
  // Primary HSL
  --rm-color-primary-h: var(--rm-color-blue-h);
  --rm-color-primary-s: var(--rm-color-blue-s);
  --rm-color-primary-l: var(--rm-color-blue-l);

  // Secondary HSL
  --rm-color-secondary-h: var(--rm-color-teal-h);
  --rm-color-secondary-s: var(--rm-color-teal-s);
  --rm-color-secondary-l: var(--rm-color-teal-l);

  // Tertiary HSL
  --rm-color-tertiary-h: var(--rm-color-violet-h);
  --rm-color-tertiary-s: var(--rm-color-violet-s);
  --rm-color-tertiary-l: var(--rm-color-violet-l);

  // Neutral HSL
  --rm-color-neutral-h: 240;
  --rm-color-neutral-s: 2%;
  --rm-color-neutral-l: 38%;

  // Neutral Variant HSL
  --rm-color-neutral-variant-h: 229;
  --rm-color-neutral-variant-s: 6%;
  --rm-color-neutral-variant-l: 38%;
}

@mixin border-radius {
  --rm-radius-small:   2px;
  --rm-radius-medium:  4px;
  --rm-radius-large:   8px;
  --rm-radius-x-large: 16px;
  --rm-radius-circle:  50%;
  --rm-radius-pill:    9999px;
}

@mixin border-width {
  --rm-border-width:         1px;
  --rm-border-width-large:   2px;
  --rm-border-width-x-large: 4px;
}

@mixin border-strokes {
  --rm-border-card-outline: 0 0 0 var(--rm-border-width) var(--rm-color-outline);
}

@mixin font-scales {
  --rm-font-x-small: 1.2rem; // 12px
  --rm-font-small: 1.4rem; // 14px
  --rm-font-medium: 1.6rem; // 16px
  --rm-font-large: 1.8rem; // 18px
  --rm-font-x-large: 2.4rem; // 24px
  --rm-font-2x-large: 2.8rem; // 28px
  --rm-font-3x-large: 3.2rem; // 32px
  --rm-font-4x-large: 3.6rem; // 36px
  --rm-font-5x-large: 4.8rem; // 48px
}

@mixin font-weights {
  --rm-font-weight-thin:        100;
  --rm-font-weight-extra-light: 200;
  --rm-font-weight-light:       300;
  --rm-font-weight-normal:      400;
  --rm-font-weight-medium:      500;
  --rm-font-weight-semi-bold:   600;
  --rm-font-weight-bold:        700;
  --rm-font-weight-extra-bold:  800;
  --rm-font-weight-black:       900;
}

@mixin line-heights {
  --rm-line-height-none:    0;
  --rm-line-height-densest: 1;
  --rm-line-height-denser:  1.15;
  --rm-line-height-dense:   1.3;
  --rm-line-height-base:    1.5;
  --rm-line-height-loose:   1.6;
  --rm-line-height-looser:  1.7;
  --rm-line-height-loosest: 1.8;
}

@mixin fonts {
  --rm-font-family: 'Noto Sans', 'Noto Serif', sans-serif;
}

@mixin spacing-scales {
  --rm-space-3x-small: .2rem; // 2px
  --rm-space-2x-small: .4rem; // 4px
  --rm-space-x-small: .8rem; // 8px
  --rm-space-small: 1.2rem; // 12px
  --rm-space-medium: 1.6rem; // 16px
  --rm-space-large: 2rem; // 20px
  --rm-space-x-large: 2.4rem; // 24px
  --rm-space-2x-large: 2.8rem; // 28px
  --rm-space-3x-large: 4rem; // 40px
  --rm-space-4x-large: 8rem; // 80px
}

@mixin shadows {
  --rm-shadow-x-small: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --rm-shadow-small: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --rm-shadow-medium: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  --rm-shadow-large: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
  --rm-shadow-x-large: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}

@mixin z-indexes {
  --rm-z-index-header: 500;
  --rm-z-index-drawer: 700;
  --rm-z-index-dialog: 800;
  --rm-z-index-dialog-backdrop: 801;
  --rm-z-index-dialog-content: 802;
  --rm-z-index-dropdown: 900;
  --rm-z-index-alert-group: 950;
  --rm-z-index-tooltip: 1000;
}

// We use SCSS variables outside the root since support for custom properties / css variables
// is not yet available
// https://drafts.csswg.org/css-env-1/
// https://bholmes.dev/blog/alternative-to-css-variable-media-queries/

$breakpoint-x-small: 512px; // phone
$breakpoint-small: 768px; // vertical ipad
$breakpoint-medium: 1024px; // landscape ipad
$breakpoint-large: 1280px; // small laptop
$breakpoint-x-large: 1440px; // medium laptop

:root {
  // Color HSLs
  @include color-varieties;

  // Border
  @include border-strokes;
  @include border-radius;
  @include border-width;

  // Font
  @include font-scales;
  @include font-weights;
  @include fonts;

  // Line heights
  @include line-heights;

  // Spacing
  @include spacing-scales;

  // Shadows
  @include shadows;

  // Z Index
  @include z-indexes;
}
