:root {
  --rm-colors-white: hsl(0, 100%, 100%);
  --rm-colors-black: hsl(0, 0%, 0%);

  --rm-colors-green-h: 130;
  --rm-colors-green-s: 61%;
  --rm-colors-green-l: 64%;

  --rm-colors-yellow-h: 47;
  --rm-colors-yellow-s: 100%;
  --rm-colors-yellow-l: 61%;

  --rm-colors-red-h: 0;
  --rm-colors-red-s: 99%;
  --rm-colors-red-l: 76%;

  --rm-colors-teal-h: 162;
  --rm-colors-teal-s: 68%;
  --rm-colors-teal-l: 53%;

  --rm-colors-blue-h: 207;
  --rm-colors-blue-s: 92%;
  --rm-colors-blue-l: 64%;

  --rm-colors-violet-h: 256;
  --rm-colors-violet-s: 93%;
  --rm-colors-violet-l: 72%;

  --rm-colors-orange-h: 31;
  --rm-colors-orange-s: 100%;
  --rm-colors-orange-l: 65%;
}
