.panel {
  --op-panel-width: 40%;

  position: absolute;
  z-index: var(--op-z-index-sidebar);
  right: calc(-1 * var(--op-panel-width)); // this pushes the panel off the sceen to the right
  width: var(--op-panel-width);
  height: 100vh;
  padding-bottom: var(--op-space-large);
  background: var(--op-color-background);
  color: var(--op-color-on-background);
  overflow-y: scroll;
  transition: var(--op-transition-panel);
}

.panel--active {
  right: 0;
  box-shadow: var(--op-shadow-x-large);
}

.panel__close {
  display: flex;
  padding: var(--op-space-medium);
  border-radius: 100%;
  cursor: pointer;
  float: right;

  &:hover {
    background: var(--op-color-neutral-plus-seven);
  }
}

#panel-content {
  padding-top: var(--op-space-large);
  padding-bottom: var(--op-space-large);
}

@mixin panel-dark {
  .panel {
    background: var(--op-color-neutral-plus-seven);
    color: var(--op-color-neutral-on-plus-seven);
  }

  .panel__close {
    &:hover {
      background: var(--op-color-background);
    }
  }
}

// Follow system preference unless forced to light
@media (prefers-color-scheme: dark) {
  :root:not([data-theme-mode='light']) {
    @include panel-dark;
  }
}

// Force design system to dark
:root[data-theme-mode='dark'] {
  @include panel-dark;
}
