// Core Tom Select Styles
@import 'tom-select/dist/scss/tom-select';

// Design System Overrides
.#{$select-ns}-wrapper {
  .#{$select-ns}-dropdown {
    .option.active,
    .option:hover {
      background-color: var(--rm-color-primary-plus-seven);
      color: var(--rm-color-primary-on-plus-seven);
    }
  }

  .#{$select-ns}-control {
    min-height: var(--rm-input-height-medium);
    background: var(--rm-color-background);
    color: var(--rm-color-on-background);
  }

  &.multi,
  &.single {
    &.has-items .#{$select-ns}-control {
      padding-right: var(--rm-space-2x-small);
      padding-left: var(--rm-space-2x-small);
    }

    .#{$select-ns}-control {
      .item {
        padding: var(--rm-space-2x-small);
      }
    }

    &.disabled .#{$select-ns}-control [data-value] {
      background: var(--rm-color-background);
      color: var(--rm-color-on-background);

      &,
      .remove {
        background: var(--rm-color-background);
        color: var(--rm-color-on-background);
      }
    }
  }

  &.single,
  &.multi,
  &.single.input-active,
  &.multi.input-active {
    .#{$select-ns}-control {
      // Highly specific SVG data image for the dropdown arrow.
      background-image: var(--rm-form-dropdown-arrow);
      background-position-x: calc(100% - var(--rm-space-small));
      background-position-y: center;
      background-repeat: no-repeat;
    }
  }

  &.single.input-active,
  &.multi.input-active {
    .#{$select-ns}-control {
      border-color: var(--rm-color-primary-minus-three);

      // primary highlight
      background-color: var(--rm-color-primary-plus-seven);
      color: var(--rm-color-primary-on-plus-seven);
      outline: none;
    }
  }

  &.multi {
    .#{$select-ns}-control {
      [data-value] {
        border-color: var(--rm-color-primary-base);
        border-radius: var(--rm-radius-medium);
        background-color: var(--rm-color-primary-base);
        color: var(--rm-color-primary-on-base);

        &.active {
          background-color: var(--rm-color-primary-minus-three);
          color: var(--rm-color-primary-on-minus-three);
        }
      }
    }
  }
}
