// Core Tom Select Styles
@import 'tom-select/dist/scss/tom-select';

// By default $select-ns is "ts"

// Design System Overrides
.#{$select-ns}-wrapper {
  // Control
  .#{$select-ns}-control {
    min-height: var(--rm-input-height-large);
    align-items: center;
    border: none;
    border-radius: var(--rm-radius-large);
    background-color: var(--rm-color-neutral-plus-max);
    box-shadow: var(--rm-border-all) var(--rm-border-color);
    color: var(--rm-color-neutral-on-plus-max);
    font-size: var(--rm-font-x-small);
    font-weight: var(--rm-font-weight-light);
    line-height: var(--rm-line-height-base);
  }

  // Active control
  &.dropdown-active {
    .#{$select-ns}-control {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  // Dropdown
  .#{$select-ns}-dropdown {
    border: none;
    margin: 0;
    border-bottom-left-radius: var(--rm-radius-large);
    border-bottom-right-radius: var(--rm-radius-large);
    box-shadow: var(--rm-border-all) var(--rm-border-color);
    contain: paint;

    .option,
    .create {
      &.active {
        background-color: var(--rm-color-primary-plus-seven);
        color: var(--rm-color-primary-on-plus-seven);
      }
    }
  }

  // Item
  &.multi {
    .#{$select-ns}-control > div {
      padding: var(--rm-space-3x-small) var(--rm-space-x-small);
      border-radius: var(--rm-radius-medium);
      margin: 0 var(--rm-space-3x-small) var(--rm-space-3x-small) 0;
      background-color: var(--rm-color-primary-base);
      color: var(--rm-color-primary-on-base);

      &.active {
        background-color: var(--rm-color-primary-plus-two);
        color: var(--rm-color-primary-on-plus-two);
      }
    }
  }

  // Dropdown Arrow
  &.single,
  &.multi,
  &.single.input-active,
  &.multi.input-active {
    .#{$select-ns}-control {
      // Highly specific SVG data image for the dropdown arrow.
      background-image: var(--rm-form-dropdown-arrow);
      background-position-x: calc(100% - var(--rm-space-small));
      background-position-y: center;
      background-repeat: no-repeat;
    }
  }
}
