// Using Mixins allows us to include them at a component level
// as needed and override them.

// A 5 color theme. 3 main colors, a neutral color and a neutral variant
@mixin color-varieties {
  // Primary HSL
  --rms-colors-primary-h: var(--rms-colors-blue-h);
  --rms-colors-primary-s: var(--rms-colors-blue-s);
  --rms-colors-primary-l: var(--rms-colors-blue-l);

  // Secondary HSL
  --rms-colors-secondary-h: var(--rms-colors-teal-h);
  --rms-colors-secondary-s: var(--rms-colors-teal-s);
  --rms-colors-secondary-l: var(--rms-colors-teal-l);

  // Tertiary HSL
  --rms-colors-tertiary-h: var(--rms-colors-violet-h);
  --rms-colors-tertiary-s: var(--rms-colors-violet-s);
  --rms-colors-tertiary-l: var(--rms-colors-violet-l);

  // Neutral HSL
  --rms-colors-neutral-h: 240;
  --rms-colors-neutral-s: 2%;
  --rms-colors-neutral-l: 38%;

  // Neutral Variant HSL
  --rms-colors-neutral-variant-h: 229;
  --rms-colors-neutral-variant-s: 6%;
  --rms-colors-neutral-variant-l: 38%;
}

@mixin border-radius {
  --rms-radius-small:   2px;
  --rms-radius-medium:  4px;
  --rms-radius-large:   8px;
  --rms-radius-x-large: 16px;
  --rms-radius-circle:  50%;
  --rms-radius-pill:    9999px;
}

@mixin border-width {
  --rms-border-width: 1px;
}

@mixin border-strokes {
  --rms-border-card-outline: 0 0 0 var(--rms-border-width) var(--rms-colors-outline);
}

@mixin font-scales {
  // Visit https://codyhouse.co/ds/globals/typography to play around with different text sizes
  --rms-font-scale-ratio: 1.15;
  --rms-font-size-unit: 1rem;

  --rms-font-2x-small: calc((var(--rms-font-size-unit) / var(--rms-font-scale-ratio)) / var(--rms-font-scale-ratio)); // ~12px
  --rms-font-x-small: calc(var(--rms-font-2x-small) * var(--rms-font-scale-ratio)); // ~14px
  --rms-font-small: calc(var(--rms-font-x-small) * var(--rms-font-scale-ratio)); // ~16px
  --rms-font-medium: calc(var(--rms-font-small) * var(--rms-font-scale-ratio)); // ~18px
  --rms-font-large: calc(var(--rms-font-medium) * var(--rms-font-scale-ratio)); // ~21px
  --rms-font-x-large: calc(var(--rms-font-large) * var(--rms-font-scale-ratio)); // ~24px
  --rms-font-2x-large: calc(var(--rms-font-x-large) * var(--rms-font-scale-ratio)); // ~28px
  --rms-font-3x-large: calc(var(--rms-font-2x-large) * var(--rms-font-scale-ratio)); // ~32px
  --rms-font-4x-large: calc(var(--rms-font-3x-large) * var(--rms-font-scale-ratio)); // ~37px
  --rms-font-5x-large: calc(var(--rms-font-4x-large) * var(--rms-font-scale-ratio)); // ~42px
}

@mixin font-weights {
  --rms-font-weight-light:     300;
  --rms-font-weight-normal:    400;
  --rms-font-weight-semi-bold: 600;
  --rms-font-weight-bold:      700;
}

@mixin line-heights {
  --rms-line-height-none:   0;
  --rms-line-height-dense:  1.3;
  --rms-line-height-normal: 1.5;
  --rms-line-height-loose:  1.6;
}

@mixin fonts {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
  --rms-font-family: 'Roboto', sans-serif;
  --rms-font-weight-semi-bold: 500; // Roboto does not have a semi bold variant so we adjust down to medium
}

@mixin spacing-scales {
  // This is using the Golden Ratio to get these numbers
  // Visit https://codyhouse.co/ds/globals/spacing to play around with different ratios
  --rms-space-unit: 1rem;
  --rms-space-3x-small: calc(0.123 * var(--rms-space-unit)); // 2px
  --rms-space-2x-small: calc(0.236 * var(--rms-space-unit)); // 4px
  --rms-space-x-small: calc(0.382 * var(--rms-space-unit)); // 6px
  --rms-space-small: calc(0.618 * var(--rms-space-unit)); // 10px
  --rms-space-medium: calc(1 * var(--rms-space-unit)); // 16px
  --rms-space-large: calc(1.618 * var(--rms-space-unit)); // 26px
  --rms-space-x-large: calc(2.618 * var(--rms-space-unit)); // 42px
}

@mixin shadows {
  --rms-shadow-x-small: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --rms-shadow-small: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --rms-shadow-medium: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  --rms-shadow-large: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
  --rms-shadow-x-large: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}

:root {
  // Color HSLs
  @include color-varieties;

  // Border
  @include border-strokes;
  @include border-radius;
  @include border-width;

  // Font
  @include font-scales;
  @include font-weights;
  @include fonts;

  // Line heights
  @include line-heights;

  // Spacing
  @include spacing-scales;

  // Shadows
  @include shadows;
}
