// Using Mixins allows us to include them at a component level
// as needed and override them.

// A 5 color theme. 3 main colors, a neutral color and a neutral variant
@mixin color-varieties {
  // Primary HSL
  --color-primary-h: var(--color-blue-h);
  --color-primary-s: var(--color-blue-s);
  --color-primary-l: var(--color-blue-l);

  // Secondary HSL
  --color-secondary-h: var(--color-teal-h);
  --color-secondary-s: var(--color-teal-s);
  --color-secondary-l: var(--color-teal-l);

  // Tertiary HSL
  --color-tertiary-h: var(--color-violet-h);
  --color-tertiary-s: var(--color-violet-s);
  --color-tertiary-l: var(--color-violet-l);

  // Neutral HSL
  --color-neutral-h: 240;
  --color-neutral-s: 2%;
  --color-neutral-l: 38%;

  // Neutral Variant HSL
  --color-neutral-variant-h: 229;
  --color-neutral-variant-s: 6%;
  --color-neutral-variant-l: 38%;
}

@mixin fonts {
  --font-primary: 'Roboto', sans-serif;
}

@mixin border-radius {
  --radius-xs:  2px;
  --radius-sm:  4px;
  --radius-md:  8px;
  --radius:     12px;
  --radius-lg:  16px;
  --radius-xl:  20px;
  --radius-max: 999px;
}

@mixin border-width {
  --border-width: 1px;
}

@mixin border-strokes {
  --border-card-outline: 0 0 0 var(--border-width) var(--color-outline);
}

@mixin text-scales {
  // Visit https://codyhouse.co/ds/globals/typography to play around with different text sizes
  --text-base-size: 1rem;
  --text-scale-ratio: 1.15;
  --text-unit: var(--text-base-size);

  --text-xxs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio)); // ~12px
  --text-xs: calc(var(--text-xxs) * var(--text-scale-ratio)); // ~14px
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio)); // ~16px
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio)); // ~18px
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio)); // ~21px
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio)); // ~24px
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio)); // ~28px
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio)); // ~32px
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio)); // ~37px
  --text-xxxxxl: calc(var(--text-xxxxl) * var(--text-scale-ratio)); // ~42px
}

@mixin line-heights {
  --line-height-none:     0;
  --line-height-tightest: 1;
  --line-height-tighter:  1.15;
  --line-height-tight:    1.3;
  --line-height-base:     1.5;
  --line-height-loose:    1.6;
  --line-height-looser:   1.7;
  --line-height-loosest:  1.8;
}

@mixin spacing-scales {
  // This is using the Golden Ratio to get these numbers
  // Visit https://codyhouse.co/ds/globals/spacing to play around with different ratios
  --space-unit: 1rem;
  --space-xxxs: calc(0.123 * var(--space-unit)); // 2px
  --space-xxs: calc(0.236 * var(--space-unit)); // 4px
  --space-xs: calc(0.382 * var(--space-unit)); // 6px
  --space-sm: calc(0.618 * var(--space-unit)); // 10px
  --space-md: calc(1 * var(--space-unit)); // 16px
  --space-lg: calc(1.618 * var(--space-unit)); // 26px
  --space-xl: calc(2.618 * var(--space-unit)); // 42px
}

@mixin elevations {
  --elevation-1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --elevation-2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  --elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
  --elevation-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}

:root {
  // Color HSLs
  @include color-varieties;

  // Font Families
  @include fonts;

  // Border
  @include border-strokes;
  @include border-radius;
  @include border-width;

  // Text Ratios
  @include text-scales;

  // Line heights
  @include line-heights;

  // Spacing
  @include spacing-scales;

  // Elevations
  @include elevations;
}
