:root {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-green-h: 130;
  --color-green-s: 61%;
  --color-green-l: 64%;

  --color-yellow-h: 47;
  --color-yellow-s: 100%;
  --color-yellow-l: 61%;

  --color-red-h: 0;
  --color-red-s: 99%;
  --color-red-l: 76%;

  --color-teal-h: 162;
  --color-teal-s: 68%;
  --color-teal-l: 53%;

  --color-blue-h: 207;
  --color-blue-s: 92%;
  --color-blue-l: 64%;

  --color-violet-h: 256;
  --color-violet-s: 93%;
  --color-violet-l: 72%;

  --color-orange-h: 31;
  --color-orange-s: 100%;
  --color-orange-l: 65%;
}
