%badge {
  display: inline-grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: var(--rm-space-3x-small);

  white-space: nowrap;
  user-select: none;

  font-size: var(--rm-font-x-small);
  font-weight: var(--rm-font-weight-semi-bold);

  letter-spacing: var(--rm-letter-spacing-label);
  line-height: var(--rm-line-height-densest);

  border-radius: var(--rm-radius-medium);
  padding: var(--rm-space-2x-small) var(--rm-space-x-small);
  cursor: inherit;

  background-color: var(--rm-color-neutral-base);
  color: var(--rm-color-neutral-on-base);
}

.badge {
  @extend %badge;
}

.badge-primary {
  @extend %badge;

  background-color: var(--rm-color-primary-base);
  color: var(--rm-color-primary-on-base);
}

.badge-warning {
  @extend %badge;

  background-color: var(--rm-color-alerts-warning-base);
  color: var(--rm-color-alerts-warning-on-base);
}

.badge-danger {
  @extend %badge;

  background-color: var(--rm-color-alerts-danger-base);
  color: var(--rm-color-alerts-danger-on-base);
}

.badge-info {
  @extend %badge;

  background-color: var(--rm-color-alerts-info-base);
  color: var(--rm-color-alerts-info-on-base);
}

.badge-notice {
  @extend %badge;

  background-color: var(--rm-color-alerts-notice-base);
  color: var(--rm-color-alerts-notice-on-base);
}

.badge--pill {
  border-radius: var(--rm-radius-pill);
}
