@mixin badge-notification {
  position: absolute;
  top: 0;
  pointer-events: none;
}

%badge-global {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--op-space-2x-small) var(--op-space-x-small);
  border-radius: var(--op-radius-medium);
  background-color: var(--op-color-neutral-base);
  color: var(--op-color-neutral-on-base);
  cursor: inherit;
  font-size: var(--op-font-x-small);
  font-weight: var(--op-font-weight-semi-bold);
  gap: var(--op-space-3x-small);
  letter-spacing: var(--op-letter-spacing-label);
  line-height: var(--op-line-height-densest);
  user-select: none;
  white-space: nowrap;

  &.badge--pill {
    border-radius: var(--op-radius-pill);
  }

  &.badge--notification-right {
    @include badge-notification;

    right: 0;
    transform: translateY(-50%) translateX(50%);
  }

  &.badge--notification-left {
    @include badge-notification;

    left: 0;
    transform: translateY(-50%) translateX(-50%);
  }
}

.badge {
  @extend %badge-global;
}

.badge-primary {
  @extend %badge-global;

  background-color: var(--op-color-primary-base);
  color: var(--op-color-primary-on-base);
}

.badge-warning {
  @extend %badge-global;

  background-color: var(--op-color-alerts-warning-base);
  color: var(--op-color-alerts-warning-on-base);
}

.badge-danger {
  @extend %badge-global;

  background-color: var(--op-color-alerts-danger-base);
  color: var(--op-color-alerts-danger-on-base);
}

.badge-info {
  @extend %badge-global;

  background-color: var(--op-color-alerts-info-base);
  color: var(--op-color-alerts-info-on-base);
}

.badge-notice {
  @extend %badge-global;

  background-color: var(--op-color-alerts-notice-base);
  color: var(--op-color-alerts-notice-on-base);
}
