:root {
  --rm-button-transition: 120ms;
}

%btn {
  -webkit-appearance: none;
  display: inline-grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: var(--rm-space-x-small);

  white-space: nowrap;

  transition: all var(--rm-button-transition);

  border-radius: var(--rm-radius-large);

  padding: 0 var(--rm-space-medium);

  height: var(--rm-input-height-medium);

  cursor: pointer;

  font-size: var(--rm-font-small);
  font-weight: var(--rm-font-weight-medium);
  text-align: center;
  text-decoration: none;

  background: var(--rm-color-background);
  box-shadow: var(--rm-border-all) var(--rm-border-color);
  color: var(--rm-color-on-background);

  &:visited {
    color: var(--rm-color-on-background);
  }

  &:hover:not(:disabled, .btn--disabled) {
    background: var(--rm-color-neutral-plus-3);
    color: var(--rm-color-neutral-on-plus-3);
  }

  @media(max-width: $breakpoint-small) {
    align-items: center;
    min-height: var(--rm-input-height-large);
  }

  &:disabled, &.btn--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// Default Button
.btn {
  @extend %btn;
}

// Primary Button
.btn-primary {
  @extend %btn;

  background: var(--rm-color-primary-base);
  color: var(--rm-color-primary-on-base);

  &:visited {
    color: var(--rm-color-primary-on-base);
  }

  &:hover:not(:disabled, .btn--disabled) {
    background: var(--rm-color-primary-hover);
    color: var(--rm-color-primary-on-hover);
  }
}

// Button Outline Modifier
.btn--outline {
  background-color: var(--rm-color-primary-plus-3);
  box-shadow: var(--rm-border-all) var(--rm-color-primary-on-plus-3);
  color: var(--rm-color-primary-on-plus-3);

  &:visited {
    color: var(--rm-color-primary-on-plus-3);
  }

  &:hover:not(:disabled, .btn--disabled) {
    background: var(--rm-color-primary-plus-2);
    color: var(--rm-color-primary-on-plus-2);
  }
}

// Default Button with unecessary Outline Modifier
.btn.btn--outline {
  @extend %btn;

  &:hover:not(:disabled, .btn--disabled) {
    background: var(--rm-color-neutral-plus-3);
    color: var(--rm-color-neutral-on-plus-3);
  }
}

// Secondary Button
.btn-secondary {
  @extend %btn;
  @extend .btn--outline;
}

// Button No Border Modifier
.btn--no-border {
  box-shadow: var(--rm-border-all) var(--rm-color-background);
  background: var(--rm-color-background);
  color: var(--rm-color-primary-base);

  &:visited {
    color: var(--rm-color-primary-base);
  }

  &:hover:not(:disabled, .btn--disabled) {
    background: none;
    color: var(--rm-color-primary-hover);
  }
}

// Delete Button
.btn-delete {
  @extend %btn;

  background: var(--rm-color-alerts-danger-base);
  color: var(--rm-color-alerts-danger-on-base);

  &:visited {
    color: var(--rm-color-alerts-danger-on-base);
  }

  &:hover:not(:disabled, .btn--disabled) {
    background: var(--rm-color-alerts-danger-hover);
    color: var(--rm-color-alerts-danger-on-hover);
  }
}

// Delete Button with Outline Modifier
.btn-delete.btn--outline {
  background-color: var(--rm-color-background);
  box-shadow: var(--rm-border-all) var(--rm-color-alerts-danger-base);
  color: var(--rm-color-alerts-danger-base);

  &:visited {
    color: var(--rm-color-alerts-danger-base);
  }

  &:hover:not(:disabled, .btn--disabled) {
    background: var(--rm-color-alerts-danger-plus-2);
    color: var(--rm-color-alerts-danger-on-plus-2);
  }
}

// Delete Button with No Border Modifier
.btn-delete.btn--no-border {
  box-shadow: none;
  background: none;
  color: var(--rm-color-alerts-danger-base);

  &:visited {
    color: var(--rm-color-alerts-danger-base);
  }

  &:hover:not(:disabled, .btn--disabled) {
    background: none;
    color: var(--rm-color-alerts-danger-hover);
  }
}

// Pill Shape Modifier
.btn--pill {
  border-radius: var(--rm-radius-pill);
}

// Icon Shape Modifier
.btn--icon {
  padding: 0;

  border-radius: var(--rm-radius-circle);

  width: var(--rm-input-height-medium);
}

// Small Size Modifier
.btn--small {
  height: var(--rm-input-height-small);
  font-size: var(--rm-font-x-small);
}

// Medium Size (default size) Modifier
.btn--medium {
  height: var(--rm-input-height-medium);
  font-size: var(--rm-font-small);
}

// Large Size Modifier
.btn--large {
  height: var(--rm-input-height-large);
  font-size: var(--rm-font-medium);
}
