.btn-group {
  display: inline-flex;
  align-items: center;

  .btn,
  .btn-primary,
  .btn-delete,
  .btn-warning {
    + .btn,
    + .btn-primary,
    + .btn-delete,
    + .btn-warning {
      margin-left: -1px;
    }

    &:hover {
      z-index: 1;
    }

    &.btn--active {
      z-index: 2;
    }

    &:focus,
    &:focus-within,
    &:focus-visible {
      z-index: 3;
    }

    &:not(:first-child, :last-child) {
      border-radius: 0;
    }

    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.btn-group-toolbar {
  display: flex;
  flex-wrap: wrap;
}
