%btn-global {
  // Public API (allowed to be overridden)
  --_rm-btn-height-small:  var(--rm-input-height-small);
  --_rm-btn-height-medium: var(--rm-input-height-medium);
  --_rm-btn-height-large:  var(--rm-input-height-large);

  --_rm-font-small:  var(--rm-font-x-small);
  --_rm-font-medium: var(--rm-font-small);
  --_rm-font-large:  var(--rm-font-medium);

  // Private API (don't touch these)
  --__rm-btn-height:    var(--_rm-btn-height-medium);
  --__rm-btn-font-size: var(--_rm-font-medium);

  align-items: center;
  justify-content: center;
  gap: var(--rm-space-x-small);

  display: inline-flex;
  -webkit-appearance: none;

  transition: all var(--rm-transition-input);

  border-radius: var(--rm-radius-large);
  height: var(--__rm-btn-height);
  padding: 0 var(--rm-space-medium);

  cursor: pointer;

  font-size: var(--__rm-btn-font-size);
  font-weight: var(--rm-font-weight-medium);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  // Pill Modifier
  &.btn--pill {
    border-radius: var(--rm-radius-pill);
  }

  // Icon Modifier
  &.btn--icon {
    border-radius: var(--rm-radius-circle);
    width: var(--__rm-btn-height);
    padding: 0;
  }

  // Size Modifiers
  &.btn--small {
    --__rm-btn-height:    var(--_rm-btn-height-small);
    --__rm-btn-font-size: var(--_rm-font-small);
  }

  &.btn--medium {
    --__rm-btn-height:    var(--_rm-btn-height-medium);
    --__rm-btn-font-size: var(--_rm-font-medium);
  }

  &.btn--large {
    --__rm-btn-height:    var(--_rm-btn-height-large);
    --__rm-btn-font-size: var(--_rm-font-large);
  }

  // Disabled Modifier
  &.btn--disabled,
  &:disabled {
    opacity: 0.65;

    cursor: not-allowed;
  }

  // No Border Modifier
  &.btn--no-border {
    font-weight: var(--rm-font-weight-bold);
  }

  // https://uxmovement.com/mobile/optimal-size-and-spacing-for-mobile-buttons/
  @media(max-width: $breakpoint-small) {
    --__rm-btn-height:    var(--_rm-btn-height-large);
    --__rm-btn-font-size: var(--_rm-font-large);

    &.btn--small, &.btn--medium, &.btn--large {
      --__rm-btn-height:    var(--_rm-btn-height-large);
      --__rm-btn-font-size: var(--_rm-font-large);
    }
  }
}

.btn {
  @extend %btn-global;

  background-color: transparent;
  color: var(--rm-color-neutral-minus-max);
  box-shadow: var(--rm-border-all) var(--rm-border-color);

  &:not(:disabled, .btn--disabled):hover {
    background-color: var(--rm-color-neutral-plus-3);
    color: var(--rm-color-neutral-on-plus-3);
  }

  &.btn--no-border {
    box-shadow: var(--rm-border-all) transparent;

    &:not(:disabled, .btn--disabled):hover {
      background-color: transparent;
      color: var(--rm-color-neutral-minus-1);
    }
  }
}

.btn-primary {
  @extend %btn-global;

  background-color: var(--rm-color-primary-base);
  color: var(--rm-color-primary-on-base);
  box-shadow: var(--rm-border-all) var(--rm-color-primary-base);

  &:not(:disabled, .btn--disabled):hover {
    background-color: var(--rm-color-primary-hover);
    color: var(--rm-color-primary-on-hover);
    box-shadow: var(--rm-border-all) var(--rm-color-primary-hover);
  }

  &.btn--no-border {
    background-color: transparent;
    color: var(--rm-color-primary-base);
    box-shadow: none;

    &:not(:disabled, .btn--disabled):hover {
      background-color: transparent;
      color: var(--rm-color-primary-hover);
      box-shadow: none;
    }
  }

  &.btn--outline {
    background-color: var(--rm-color-primary-plus-3);
    color: var(--rm-color-primary-on-plus-3);
    box-shadow: var(--rm-border-all) var(--rm-color-primary-on-plus-3);

    &:not(:disabled, .btn--disabled):hover {
      background-color: var(--rm-color-primary-plus-2);
      color: var(--rm-color-primary-on-plus-2);
      box-shadow: var(--rm-border-all) var(--rm-color-primary-on-plus-3);
    }
  }
}

.btn-secondary {
  @extend %btn-global;

  background-color: var(--rm-color-primary-plus-3);
  color: var(--rm-color-primary-on-plus-3);
  box-shadow: var(--rm-border-all) var(--rm-color-primary-on-plus-3);

  &:not(:disabled, .btn--disabled):hover {
    background-color: var(--rm-color-primary-plus-2);
    color: var(--rm-color-primary-on-plus-2);
    box-shadow: var(--rm-border-all) var(--rm-color-primary-on-plus-3);
  }

  &.btn--no-border {
    background-color: transparent;
    color: var(--rm-color-primary-base);
    box-shadow: none;

    &:not(:disabled, .btn--disabled):hover {
      background-color: transparent;
      color: var(--rm-color-primary-hover);
      box-shadow: none;
    }
  }
}

.btn-delete {
  @extend %btn-global;

  background-color: var(--rm-color-alerts-danger-base);
  color: var(--rm-color-alerts-danger-on-base);
  box-shadow: var(--rm-border-all) var(--rm-color-alerts-danger-base);

  &:not(:disabled, .btn--disabled):hover {
    background-color: var(--rm-color-alerts-danger-hover);
    color: var(--rm-color-alerts-danger-on-hover);
    box-shadow: var(--rm-border-all) var(--rm-color-alerts-danger-hover);
  }

  &.btn--no-border {
    background-color: transparent;
    color: var(--rm-color-alerts-danger-base);
    box-shadow: none;

    &:not(:disabled, .btn--disabled):hover {
      background-color: transparent;
      color: var(--rm-color-alerts-danger-hover);
      box-shadow: none;
    }
  }

  &.btn--outline {
    background-color: var(--rm-color-alerts-danger-plus-3);
    color: var(--rm-color-alerts-danger-on-plus-3);
    box-shadow: var(--rm-border-all) var(--rm-color-alerts-danger-on-plus-3);

    &:not(:disabled, .btn--disabled):hover {
      background-color: var(--rm-color-alerts-danger-plus-2);
      color: var(--rm-color-alerts-danger-on-plus-2);
      box-shadow: var(--rm-border-all) var(--rm-color-alerts-danger-on-plus-3);
    }
  }
}
