%card-global {
  position: relative;

  box-shadow: var(--rm-border-all) var(--rm-border-color);
  border-radius: var(--rm-radius-medium);

  font-size: var(--rm-font-medium);
  line-height: var(--rm-line-height-base);
  overflow: hidden;

  background-color: var(--rm-color-background);
  color: var(--rm-color-on-background);

  // Modifiers
  &.card--condensed {
    @include spacing-scales;
    --rm-space-scale-unit: 0.5rem;
  }

  // Elements
  .card__header,
  .card__body,
  .card__footer {
    padding: var(--rm-space-medium);
  }

  .card__header {
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }
}

.card {
  @extend %card-global;
}

.card-padded {
  @extend %card-global;

  padding: var(--rm-space-medium);
}
