.#{$select-ns}-wrapper {
  .#{$select-ns}-dropdown {

    .option.active,
    .option:hover {
      background-color: var(--rm-color-primary-plus-3);
      color: var(--rm-color-primary-on-plus-3);
    }
  }

  &.multi,
  &.single {

    &.has-items .#{$select-ns}-control {
      padding-left: var(--rm-space-2x-small);
      padding-right: var(--rm-space-2x-small);
    }

    .#{$select-ns}-control {
      .item {
        padding: var(--rm-space-2x-small);
      }

      [data-value] {
        border-color: var(--rm-color-primary-base);
        border-radius: var(--rms-radius-medium);
        background-color: var(--rm-color-primary-base);
        color: var(--rm-color-primary-on-base);

        &.active {
          background-color: var(--rm-color-primary-minus-1);
          color: var(--rm-color-primary-on-minus-1);
        }
      }
    }

    &.disabled .#{$select-ns}-control [data-value] {
      background: var(--rm-color-background);
      color: var(--rm-color-on-background);

      &,
      .remove {
        background: var(--rm-color-background);
        color: var(--rm-color-on-background);
      }
    }
  }
}
