%flash-global {
  position: fixed;
  z-index: var(--rm-z-index-alert-group);
  top: var(--rm-space-large);
  right: var(--rm-space-large);
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: var(--rm-space-small);
  display: inline-grid;
  animation: rmSlideInOutFlash var(--rm-transition-flash) normal forwards;
  box-shadow: var(--rm-shadow-x-small);
  border-left-width: var(--rm-border-width-x-large);
  border-left-style: solid;
  border-color: var(--rm-color-on-background);
  width: auto;
  padding: var(--rm-space-x-small) var(--rm-space-medium);
  font-size: var(--rm-font-small);
  border-radius: var(--rm-radius-small);
  background: var(--rm-color-background);
  color: var(--rm-color-on-background);

  // Modifiers
  &.flash--notice {
    border-color: var(--rm-color-alerts-notice-base);
    color: var(--rm-color-alerts-notice-base);
  }

  &.flash--info {
    border-color: var(--rm-color-alerts-info-base);
    color: var(--rm-color-alerts-info-base);
  }

  &.flash--alert {
    border-color: var(--rm-color-alerts-danger-base);
    color: var(--rm-color-alerts-danger-base);
  }

  &.flash--warning {
    border-color: var(--rm-color-alerts-warning-base);
    color: var(--rm-color-alerts-warning-base);
  }

  // Elements
  .flash__message-type {
    font-weight: bold;
    color: var(--rm-color-on-background);
  }

  .flash__message {
    font-size: var(--rm-font-x-small);
    color: var(--rm-color-on-background);
  }
}

.flash {
  @extend %flash-global;
}
