%flash-global {
  position: fixed;
  z-index: var(--op-z-index-alert-group);
  top: var(--op-space-large);
  right: var(--op-space-large);
  display: inline-grid;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: var(--op-space-x-small) var(--op-space-medium);
  border-color: var(--op-color-on-background);
  border-radius: var(--op-radius-small);
  border-left-width: var(--op-border-width-x-large);
  border-left-style: solid;
  animation: var(--op-animation-flash);
  background: var(--op-color-background);
  box-shadow: var(--op-shadow-x-small);
  color: var(--op-color-on-background);
  font-size: var(--op-font-small);
  gap: var(--op-space-small);
  grid-auto-flow: column;

  // Modifiers
  &.flash--notice {
    border-color: var(--op-color-alerts-notice-base);
    color: var(--op-color-alerts-notice-base);
  }

  &.flash--info {
    border-color: var(--op-color-alerts-info-base);
    color: var(--op-color-alerts-info-base);
  }

  &.flash--alert {
    border-color: var(--op-color-alerts-danger-base);
    color: var(--op-color-alerts-danger-base);
  }

  &.flash--warning {
    border-color: var(--op-color-alerts-warning-base);
    color: var(--op-color-alerts-warning-base);
  }

  // Elements
  .flash__message-type {
    color: var(--op-color-on-background);
    font-weight: bold;
  }

  .flash__message {
    color: var(--op-color-on-background);
    font-size: var(--op-font-x-small);
  }
}

.flash {
  @extend %flash-global;
}
