.flash {
  display: inline-grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: var(--rm-space-small);

  position: fixed;
  right: var(--rm-space-large);
  top: var(--rm-space-large);
  animation: rmSlideInOutFlash var(--rm-transition-flash) normal forwards;

  width: auto;

  z-index: var(--rm-z-index-alert-group);
  padding: var(--rm-space-x-small) var(--rm-space-medium);
  font-size: var(--rm-font-small);
  box-shadow: var(--rm-shadow-x-small);
  border-radius: var(--rm-radius-small);

  background: var(--rm-color-background);
  color: var(--rm-color-on-background);

  border-left-width: var(--rm-border-width-x-large);
  border-left-style: solid;
  border-color: var(--rm-color-on-background);
}

.flash--notice {
  border-color: var(--rm-color-alerts-notice-base);
  color: var(--rm-color-alerts-notice-base);
}

.flash--info {
  border-color: var(--rm-color-alerts-info-base);
  color: var(--rm-color-alerts-info-base);
}

.flash--alert {
  border-color: var(--rm-color-alerts-danger-base);
  color: var(--rm-color-alerts-danger-base);
}

.flash--warning {
  border-color: var(--rm-color-alerts-warning-base);
  color: var(--rm-color-alerts-warning-base);
}

.flash__message-type {
  font-weight: bold;
  color: var(--rm-color-on-background);
}

.flash__message {
  font-size: var(--rm-font-x-small);
  color: var(--rm-color-on-background);
}

.flash--demo {
  position: relative;
  animation: none;
  top: 0;
  right: 0;
}
