// Input Group
.form__group {
  padding: var(--rm-space-small) 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;
  gap: var(--rm-space-x-small);
}

.form__label,
.form__input,
.form__error,
.form__hint {
  grid-column: 1 / 3;
}

// Label
.form__label {
  color: var(--rm-color-on-background);
  font-weight: var(--rm-font-weight-normal);
  font-size: var(--rm-font-small);
  line-height: var(--rm-line-height-base);
  letter-spacing: var(--rm-letter-spacing-label);
}

// Input
.form__input {
  display: block;
  height: var(--rm-input-height-large);
  width: 100%;
  padding: var(--rm-space-small) var(--rm-space-medium);
  font-size: var(--rm-font-small);
  line-height: var(--rm-line-height-base);
  background-color: var(--rm-color-neutral-plus-max);
  color: var(--rm-color-neutral-on-plus-max);
  border: none;
  box-shadow: var(--rm-border-all) var(--rm-border-color);
  font-weight: var(--rm-font-weight-light);
  border-radius: var(--rm-radius-large);

  &:focus {
    color: var(--rm-color-on-background);
    outline: 0;
    box-shadow: var(--rm-border-all) var(--rm-color-on-background);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

// Select Dropdown
.form__dropdown {
  /* stylelint-disable scss/at-extend-no-missing-placeholder */
  @extend .form__input;
  /* stylelint-enable scss/at-extend-no-missing-placeholder */

  appearance: none;

  // Highly specific SVG data image for the dropdown arrow.
  background: var(--rm-form-dropdown-arrow) center right no-repeat;
  background-position-x: calc(100% - var(--rm-space-small));
  cursor: pointer;
}

// Select Color
.form__color {
  /* stylelint-disable scss/at-extend-no-missing-placeholder */
  @extend .form__dropdown;
  /* stylelint-enable scss/at-extend-no-missing-placeholder */

  &::-webkit-color-swatch {
    margin-right: var(--rm-space-2x-large);
  }
}

// Text Area
.form__textarea {
  /* stylelint-disable scss/at-extend-no-missing-placeholder */
  @extend .form__input;
  /* stylelint-enable scss/at-extend-no-missing-placeholder */

  max-width: 100%;
  min-width: var(--rm-input-height-large);
  min-height: var(--rm-input-height-large);
}

.form__radio, .form__checkbox {
  // Form group layout
  grid-column: 1 / 1;
  align-self: center;

  // normal styles
  accent-color: var(--rm-color-primary-base);
  width: var(--rm-space-large);
  height: var(--rm-space-large);
  cursor: pointer;
  margin: 0;

  // more group layout
  & + .form__label {
    grid-column: 2 / 3;
    grid-row: 1;
  }
}

// simple_form error styles
.form__error-summary {
  background-color: var(--rm-color-alerts-danger-plus-seven);
  color: var(--rm-color-alerts-danger-on-plus-seven);
  box-shadow: var(--rm-border-all) var(--rm-color-alerts-danger-on-plus-seven);
  border-radius: var(--rm-radius-large);
  padding: var(--rm-space-large);
  margin-bottom: var(--rm-space-large);

  h2 {
    font-size: var(--rm-font-medium);
  }

  ul {
    margin-bottom: 0;
  }
}

.form__error {
  padding: var(--rm-space-2x-small) var(--rm-space-x-small);
  width: fit-content;
  background: var(--rm-color-alerts-danger-plus-seven);
  color: var(--rm-color-alerts-danger-on-plus-seven);
  border-radius: var(--rm-radius-medium);
  font-size: var(--rm-font-x-small);
}

.form__input--error {
  input {
    box-shadow: var(--rm-border-all) var(--rm-color-alerts-danger-minus-three);
  }

  .form__radio, .form__checkbox {
    box-shadow: none;

    &+label {
      color: var(--rm-color-alerts-danger-minus-three);
      font-weight: var(--rm-font-weight-bold);
    }
  }
}

.form__hint {
  display: block;
  font-size: var(--rm-font-small);
  font-style: italic;
}

// Read Only
.form__input--read-only,
.form__dropdown--read-only,
.form__color--read-only,
.form__textarea--read-only {
  background-color: var(--rm-color-neutral-plus-seven);
  background-image: none;
  color: var(--rm-color-neutral-on-plus-seven);
  box-shadow: none;
  height: fit-content;
  cursor: unset;
}

.form__color--read-only {
  height: var(--rm-input-height-large);
}
