.form-control {
  /* Public API (customizable component options) */
  --_op-form-control-height-small: var(--op-input-height-small);
  --_op-form-control-height-medium: var(--op-input-height-medium);
  --_op-form-control-height-large: var(--op-input-height-large);
  --_op-form-control-font-small: var(--op-font-x-small);
  --_op-form-control-font-medium: var(--op-font-small);
  --_op-form-control-font-large: var(--op-font-small);

  /* Private API (component option defaults) */
  --__op-form-control-height: var(--_op-form-control-height-large);
  --__op-form-control-font-size: var(--_op-form-control-font-large);
  --__op-form-control-border-color: var(--op-color-neutral-plus-four);

  block-size: var(--__op-form-control-height);
  min-inline-size: var(--__op-form-control-height);

  /* Size Modifiers */
  &.form-control--small {
    --__op-form-control-height: var(--_op-form-control-height-small);
    --__op-form-control-font-size: var(--_op-form-control-font-small);
  }

  &.form-control--medium {
    --__op-form-control-height: var(--_op-form-control-height-medium);
    --__op-form-control-font-size: var(--_op-form-control-font-medium);
  }

  &.form-control--large {
    --__op-form-control-height: var(--_op-form-control-height-large);
    --__op-form-control-font-size: var(--_op-form-control-font-large);
  }

  /* Disabled State */
  &:disabled {
    cursor: not-allowed;
    opacity: var(--_op-form-control-opacity-disabled);
  }

  /* Readonly State */
  &[readonly] {
    padding: 0;
    background: transparent;
    box-shadow: none;
    color: var(--op-color-on-background);
    pointer-events: none;
    user-select: none;

    /* stylelint-disable selector-no-vendor-prefix */
    &::-webkit-input-placeholder {
      color: var(--op-color-on-background);
    }
    /* stylelint-enable selector-no-vendor-prefix */
  }
}

/* Radio or Checkbox Form Control */
.form-control:is([type='radio'], [type='checkbox']) {
  --_op-form-control-height-small: var(--op-space-medium);
  --_op-form-control-height-medium: var(--op-space-large);
  --_op-form-control-height-large: var(--op-space-x-large);

  border-radius: var(--op-radius-medium);
  margin: 0;
  appearance: none;
  background-color: var(--op-color-neutral-plus-max);
  block-size: var(--__op-form-control-height);
  box-shadow: inset 0 0 0 var(--op-border-width-medium) var(--__op-form-control-border-color);
  cursor: pointer;
  inline-size: var(--__op-form-control-height);

  &:checked {
    background-color: var(--op-color-primary-base);
  }

  & + label {
    align-self: center;
    font-size: var(--op-font-small);
  }

  &.form-control--small {
    align-self: center;

    & + label {
      font-size: var(--op-font-x-small);
    }
  }

  &:focus-visible {
    box-shadow: var(--op-input-focus-primary);
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--op-opacity-disabled);

    & + label {
      cursor: not-allowed;
      opacity: var(--op-opacity-disabled);
    }
  }
}

.form-control:is([type='checkbox']) {
  --_op-form-control-checkbox-hover-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3e%3crect x='5' y='5' width='8' height='8' rx='2' fill='%23dadde0'/%3e%3c/svg%3e");
  --_op-form-control-checkbox-checked-image: url("data:image/svg+xml,%3csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.29294 13.2929L3.41277 10.4127C3.02307 10.023 3.02307 9.3912 3.41277 9.0015C3.80199 8.61228 4.43287 8.61173 4.82276 9.00027L7.00005 11.17L13.1733 4.99672C13.5648 4.60522 14.2003 4.60674 14.5904 4.99962C14.9786 5.39054 14.9779 6.02217 14.5883 6.41172L7.70715 13.2929C7.31663 13.6834 6.68346 13.6834 6.29294 13.2929Z' fill='white'/%3e%3c/svg%3e");
  --_op-form-control-indeterminate-image: url("data:image/svg+xml,%3csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 9C14 9.55228 13.5523 10 13 10H5C4.44772 10 4 9.55228 4 9C4 8.44772 4.44772 8 5 8H13C13.5523 8 14 8.44772 14 9Z' fill='white'/%3e%3c/svg%3e");

  &:hover:not(:checked, :indeterminate, :disabled) {
    background-image: var(--_op-form-control-checkbox-hover-image);
  }

  &:checked {
    background-image: var(--_op-form-control-checkbox-checked-image);
    box-shadow: none;
  }

  &:indeterminate {
    background-color: var(--op-color-primary-base);
    background-image: var(--_op-form-control-indeterminate-image);
    box-shadow: none;
  }
}

.form-control:is([type='radio']) {
  --_op-form-control-radio-hover-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3e%3crect x='5' y='5' width='8' height='8' rx='8' fill='%23dadde0'/%3e%3c/svg%3e");
  --_op-form-control-radio-checked-image: radial-gradient(
    circle closest-side,
    var(--op-color-primary-base) 56%,
    var(--op-color-neutral-plus-max) 58%
  );

  border-radius: var(--op-radius-circle);

  &:hover:not(:checked, :disabled) {
    background-image: var(--_op-form-control-radio-hover-image);
  }

  &:checked {
    --__op-form-control-border-color: var(--op-color-primary-base);

    background: var(--_op-form-control-radio-checked-image);
  }
}

/* Any Form Control that is not a radio or checkbox */
.form-control:not([type='radio'], [type='checkbox']) {
  /* Public API (customizable component options) */
  --_op-form-control-opacity-disabled: var(--op-opacity-disabled);

  display: block;
  border: none;
  border-radius: var(--op-radius-medium);
  appearance: none;
  background-color: var(--op-color-neutral-plus-eight);
  block-size: var(--__op-form-control-height);
  box-shadow: var(--op-border-all) var(--__op-form-control-border-color);
  color: var(--op-color-neutral-on-plus-eight);
  cursor: text;
  font-size: var(--__op-form-control-font-size);
  inline-size: 100%;
  line-height: var(--op-line-height-base);
  min-inline-size: var(--__op-form-control-height);
  padding-block: var(--op-space-2x-small);
  padding-inline: var(--op-space-small) var(--op-space-x-small);

  /* Focus State */
  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: none;
  }

  /* Hover State */
  &:hover:not(:disabled, [readonly]) {
    box-shadow: var(--op-border-all) var(--op-color-primary-plus-three);
  }

  &:focus-visible:not([readonly]) {
    background-color: var(--op-color-primary-plus-seven);
    box-shadow: var(--op-input-focus-primary);
    color: var(--op-color-primary-on-plus-seven);
  }

  /* Borderless State */
  &.form-control--no-border {
    background-color: transparent;
    box-shadow: none;
    color: var(--op-color-primary-on-plus-max);

    &:focus-visible:not([readonly]) {
      background-color: var(--op-color-primary-plus-seven);
      box-shadow: var(--op-input-focus-primary);
      color: var(--op-color-primary-on-plus-seven);
    }

    /* Borderless + Hover State */
    &:hover:not(:disabled, [readonly]) {
      background-color: var(--op-color-primary-plus-eight);
      box-shadow: inset var(--op-border-all) var(--op-color-primary-plus-two);
      color: var(--op-color-primary-on-plus-eight);
    }
  }
}

/* Color Form Control */
.form-control[type='color'] {
  padding: var(--op-space-2x-small);
  cursor: pointer;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: var(--op-radius-medium);
  }
}

/* File Form Control */
.form-control[type='file'] {
  padding-block: 0;

  &::file-selector-button {
    --__op-btn-base-height: var(--op-input-height-small);
    --__op-btn-height: var(--__op-btn-base-height);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--op-radius-medium);
    appearance: none;
    background-color: var(--op-color-neutral-plus-eight);
    box-shadow: inset var(--op-border-all) var(--op-color-neutral-plus-four);
    color: var(--op-color-neutral-on-plus-eight);
    cursor: pointer;
    font-size: var(--op-font-x-small);
    font-weight: var(--op-font-weight-normal);
    gap: var(--op-space-x-small);
    margin-block: calc((var(--__op-form-control-height) / 2) - (var(--__op-btn-height) / 2));
    min-block-size: var(--__op-btn-height);
    padding-block: 0;
    padding-inline: var(--op-space-x-small);
    text-align: center;
    text-decoration: none;
    transition: var(--op-transition-input);
    white-space: nowrap;
  }

  &.form-control--small::file-selector-button {
    --__op-btn-height: calc(var(--__op-btn-base-height) - var(--op-space-x-small));
  }
}

select.form-control:not([multiple], [type='radio'], [type='checkbox']) {
  appearance: none;
  background-image: var(--op-encoded-images-dropdown-arrow);
  background-position: center right;
  background-position-x: calc(
    100% - ((var(--op-space-3x-large) / 2) - (var(--op-encoded-images-dropdown-arrow-width) / 2))
  );
  background-repeat: no-repeat;
  cursor: pointer;
  padding-inline-end: var(--op-space-3x-large);
}

select.form-control[multiple] {
  min-block-size: calc(2 * var(--__op-form-control-height));
}

textarea.form-control:not([type='radio'], [type='checkbox']) {
  block-size: calc(2 * var(--__op-form-control-height));
  max-inline-size: 100%;
  min-block-size: var(--__op-form-control-height);
}

.form-label {
  color: var(--op-color-on-background);
  font-size: var(--op-font-x-small);
  font-weight: var(--op-font-weight-normal);
  letter-spacing: var(--op-letter-spacing-label);
  line-height: var(--op-line-height-base);
}

.form-error {
  color: var(--op-color-alerts-danger-base);
  font-size: var(--op-font-x-small);
  inline-size: fit-content;
}

.form-hint {
  display: block;
  font-size: var(--op-font-small);
  font-style: italic;
}

.form-error-summary {
  padding: var(--op-space-large);
  border-radius: var(--op-radius-large);
  background-color: var(--op-color-alerts-danger-plus-seven);
  box-shadow: var(--op-border-all) var(--op-color-alerts-danger-on-plus-seven);
  color: var(--op-color-alerts-danger-on-plus-seven);
  margin-block-end: var(--op-space-large);

  h2 {
    font-size: var(--op-font-medium);
  }

  ul {
    margin-block-end: 0;
  }
}

.form-group {
  display: grid;
  align-content: baseline;
  gap: var(--op-space-x-small);
  grid-auto-rows: auto;
  grid-template-columns: auto 1fr;
  padding-block: var(--op-space-small);
  padding-inline: 0;

  /* Group Alignment */
  /* stylelint-disable no-descending-specificity */
  .form-label,
  .form-error,
  .form-hint,
  .form-control:not([type='radio'], [type='checkbox']),
  .segmented-control {
    grid-column: 1 / 3;
  }
  /* stylelint-enable no-descending-specificity */

  .form-control[type='radio'],
  .form-control[type='checkbox'] {
    grid-column: 1 / 1;

    & + .form-label {
      grid-column: 2 / 3;
      grid-row: 1;
    }
  }
}

.form-group--inline {
  align-items: center;

  /* Group Alignment */

  /* stylelint-disable no-descending-specificity */
  .form-label {
    grid-column: unset;
  }

  .form-error,
  .form-hint {
    grid-column: 1 / 3;
  }

  .form-control:not([type='radio'], [type='checkbox']),
  .switch {
    grid-column: unset;
  }
  /* stylelint-enable no-descending-specificity */
}

.form-group--error {
  /* stylelint-disable no-descending-specificity */
  .form-control {
    box-shadow: var(--op-border-all) var(--op-color-alerts-danger-base);

    &[type='radio'],
    &[type='checkbox'] {
      box-shadow: none;

      & + label {
        color: var(--op-color-alerts-danger-minus-three);
        font-weight: var(--op-font-weight-bold);
      }
    }

    /* Error + Hover State */
    &:hover:not(:disabled, [readonly]) {
      background-color: var(--op-color-alerts-danger-plus-seven);
      box-shadow: var(--op-border-all) var(--op-color-alerts-danger-minus-two);
      color: var(--op-color-alerts-danger-on-plus-seven);
    }

    /* Readonly State */
    &[readonly] {
      box-shadow: none;
    }

    /* Error + Focus State */
    &:focus-visible:not([readonly]) {
      background-color: var(--op-color-alerts-danger-plus-seven);
      box-shadow: var(--op-input-focus-danger);
      color: var(--op-color-alerts-danger-on-plus-seven);
    }

    /* Borderless State */
    &.form-control--no-border {
      border-radius: 0;
      box-shadow: var(--op-border-bottom) var(--op-color-alerts-danger-base);

      /* Readonly State */
      &[readonly] {
        box-shadow: none;
      }

      /* Borderless + Focus State */
      &:focus-visible:not([readonly]) {
        background-color: var(--op-color-alerts-danger-plus-seven);
        box-shadow: var(--op-border-bottom) var(--op-color-alerts-danger-base);
        color: var(--op-color-alerts-danger-on-plus-seven);
      }

      /* Borderless + Hover State */
      &:hover:not(:disabled, [readonly]) {
        background-color: var(--op-color-alerts-danger-plus-eight);
        box-shadow: var(--op-border-bottom) var(--op-color-alerts-danger-base);
        color: var(--op-color-alerts-danger-on-plus-eight);
      }
    }
  }
  /* stylelint-enable no-descending-specificity */
}
