// Input Group
// Future Idea: Can we use gap here instead of padding on the label and hint?
.form__group {
  padding: var(--rm-space-small) 0;
}

.form__inline-group {
  display: flex;
  align-items: center;
  gap: var(--rm-space-small);
}

// Label
.form__label {
  padding-bottom: var(--rm-space-x-small);
  color: var(--rm-color-on-background);
  font-weight: var(--rm-font-weight-normal);
  font-size: var(--rm-font-small);
  line-height: var(--rm-line-height-base);
  letter-spacing: var(--rm-letter-spacing-label);
}

// Input
.form__input {
  display: block;
  height: var(--rm-input-height-large);
  width: 100%;

  padding: var(--rm-space-small) var(--rm-space-medium);
  font-size: var(--rm-font-small);
  line-height: var(--rm-line-height-base);

  background-color: var(--rm-color-neutral-plus-max);
  color: var(--rm-color-neutral-on-plus-max);

  border: none;
  box-shadow: var(--rm-border-all) var(--rm-border-color);

  font-weight: var(--rm-font-weight-light);
  border-radius: var(--rm-radius-large);

  &:focus {
    color: var(--rm-color-on-background);
    outline: 0;
    box-shadow: var(--rm-border-all) var(--rm-color-on-background);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

// Select Dropdown
.form__dropdown {
  @extend .form__input;

  appearance: none;

  // Highly specific SVG data image for the dropdown arrow.
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDI5IDE0IiB3aWR0aD0iMjkiPjxwYXRoIGZpbGw9IiNkMWQxZDEiIGQ9Ik05LjM3NzI3IDMuNjI1bDUuMDgxNTQgNi45MzUyM0wxOS41NDAzNiAzLjYyNSIvPjwvc3ZnPgo=') center right no-repeat;
  background-position-x: calc(100% - var(--rm-space-small));

  cursor: pointer;
}

// Select Color
.form__color {
  @extend .form__dropdown;

  &::-webkit-color-swatch {
    margin-right: var(--rm-space-2x-large);
  }
}

// Text Area
.form__textarea {
  @extend .form__input;

  max-width: 100%;
  min-width: var(--rm-input-height-large);
  min-height: var(--rm-input-height-large);
}

// Radio
// Inspired by https://moderncss.dev/pure-css-custom-styled-radio-buttons/
.form__radio {
  // Reset core styles
  appearance: none;
  // For iOS < 15 to remove gradient background
  background-color: var(--rm-color-neutral-plus-max);
  // Not removed via appearance
  margin: 0;

  display: inline-grid;
  place-content: center;

  color: var(--rm-color-neutral-on-plus-max);
  width: var(--rm-space-medium);
  height: var(--rm-space-medium);
  box-shadow: var(--rm-border-all) var(--rm-color-neutral-base);
  border-radius: var(--rm-radius-circle);

  vertical-align: middle;
  margin-right: var(--rm-space-x-small);

  cursor: pointer;

  &::before {
    content: '';
    width: var(--rm-space-medium);
    height: var(--rm-space-medium);

    transform: scale(0);
    transition: var(--rm-transition-input) transform ease-in-out;
    box-shadow: inset 0 var(--rm-space-medium) var(--rm-color-primary-minus-1);

    clip-path: var(--rm-clippath-form-radio);
  }

  &:checked {
    box-shadow: var(--rm-border-all) var(--rm-color-primary-minus-1);
  }

  &:checked::before {
    transform: scale(1);
  }

  &:focus {
    color: var(--rm-color-on-background);
    outline: 0;
    box-shadow: var(--rm-border-all) var(--rm-color-on-background);
  }

  &:disabled {
    cursor: not-allowed;

    box-shadow: var(--rm-border-all) var(--rm-border-color);

    &::before {
      box-shadow: inset 0 var(--rm-space-medium) var(--rm-border-color);
    }

    + label {
      cursor: not-allowed;
    }
  }
}

// Checkbox
.form__checkbox {
  @extend .form__radio;

  border-radius: var(--rm-radius-small);

  &::before {
    width: var(--rm-space-small);
    height: var(--rm-space-small);
    border-radius: var(--rm-radius-small);

    transform-origin: center;

    clip-path: var(--rm-clippath-form-checkmark);
  }
}

// simple_form error styles
.form__error-summary {
  background-color: var(--rm-color-alerts-danger-plus-2);
  color: var(--rm-color-alerts-danger-on-plus-2);

  box-shadow: var(--rm-border-all) var(--rm-color-alerts-danger-plus-1);
  border-radius: var(--rm-radius-large);

  padding: var(--rm-space-large);

  margin-bottom: var(--rm-space-large);

  h2 {
    font-size: var(--rm-font-medium);
  }

  ul {
    margin-bottom: 0;
  }
}

.form__error {
  display: inline-block;

  padding: var(--rm-space-2x-small) var(--rm-space-x-small);
  margin-left: var(--rm-space-x-small); // Is there a future solution with gap possible here?

  background: var(--rm-color-alerts-danger-plus-2);
  color: var(--rm-color-alerts-danger-on-plus-2);

  border-radius: var(--rm-radius-medium);

  font-size: var(--rm-font-x-small);
}

.form__input--error {
  input {
    box-shadow: var(--rm-border-all) var(--rm-color-alerts-danger-minus-1);
  }
}

.form__hint {
  display: block;
  padding-top: var(--rm-space-x-small);
  font-size: var(--rm-font-small);
  font-style: italic;
}

// Read Only
.form__input--read-only,
.form__dropdown--read-only,
.form__color--read-only,
.form__textarea--read-only {
  background-color: var(--rm-color-neutral-plus-3);
  background-image: none;
  color: var(--rm-color-neutral-on-plus-3);
  box-shadow: none;
  height: fit-content;
  cursor: unset;
}

.form__color--read-only {
  height: var(--rm-input-height-large);
}
