%modal-wrapper-global {
  // Public API (allowed to be overridden)
  --_op-modal-backdrop-active-opacity: 0.5;

  position: fixed;
  z-index: var(--op-z-index-dialog);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  outline: 0;
  visibility: hidden;

  .modal-wrapper__backdrop {
    position: fixed;
    z-index: var(--op-z-index-dialog-backdrop);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--op-color-black);
    opacity: 0;
    transition: var(--op-transition-modal);
    visibility: hidden;
  }

  &.modal-wrapper--active {
    visibility: visible;

    .modal {
      opacity: 1;
      transform: scale(1);
    }

    .modal-wrapper__backdrop {
      opacity: var(--_op-modal-backdrop-active-opacity);
      visibility: visible;
    }
  }
}

%modal-global {
  // Public API (allowed to be overridden)
  --_op-modal-width: 56.4rem;
  --_op-modal-max-height: 50rem;

  z-index: var(--op-z-index-dialog-content);
  width: var(--_op-modal-width);
  border-radius: var(--op-radius-medium);
  background-color: var(--op-color-background);
  box-shadow: var(--op-border-all) var(--op-border-color);
  color: var(--op-color-on-background);
  contain: paint;
  font-size: var(--op-font-medium);
  line-height: var(--op-line-height-base);
  opacity: 0;
  transform: scale(0.7);
  transition: var(--op-transition-modal);

  .modal__header,
  .modal__body,
  .modal__footer {
    padding: var(--op-space-medium);
  }

  .modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--op-font-large);
    font-weight: var(--op-font-weight-semi-bold);
  }

  .modal__body {
    max-height: var(--_op-modal-max-height);
    box-shadow: var(--op-border-all) var(--op-border-color);
    overflow-y: auto;
  }

  .modal__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--op-space-small);
  }
}

.modal-wrapper {
  @extend %modal-wrapper-global;
}

.modal {
  @extend %modal-global;
}

// Using the Dialog element
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog
@keyframes show-backdrop {
  from {
    opacity: 0;
  }

  to {
    opacity: var(--_op-modal-backdrop-active-opacity);
  }
}

@keyframes hide-backdrop {
  from {
    opacity: var(--_op-modal-backdrop-active-opacity);
  }

  to {
    opacity: 0;
  }
}

dialog.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding: 0;
  border: none;

  &::backdrop {
    // The Dialog backdrop does not inheret from :root so these need to be duplicated here.
    --op-color-black: hsl(0deg 0% 0%);
    --_op-modal-backdrop-active-opacity: 0.5;

    animation: show-backdrop 300ms ease-in;
    background: var(--op-color-black);
    opacity: var(--_op-modal-backdrop-active-opacity);
  }

  &[open] {
    opacity: 1;
    transform: scale(1);
  }

  &.modal--closing {
    opacity: 0;
    transform: scale(0.7);

    &::backdrop {
      animation: hide-backdrop 300ms ease-in;
      opacity: 0;
    }
  }
}
