.pagination {
  display: flex;
  align-items: center;
  gap: 0;

  /* Showing Dropdown */
  .form-group {
    align-items: center;

    .form-label {
      grid-column: 1;
    }

    .form-control {
      grid-column: 2;
    }
  }

  /* ... Gap */
  .pagination__divider {
    height: 100%;
    padding-inline: var(--op-space-x-small);
  }
}
