// Semantic colors
$semantic_color_varieties: 'primary', 'secondary', 'tertiary', 'neutral', 'neutral-variant';
@each $color in $semantic_color_varieties {
  .background-#{$color}-base {
    background-color: var(--rm-color-#{$color}-base);
    color: var(--rm-color-#{$color}-on-base);
  }

  .background-#{$color}-light {
    background-color: var(--rm-color-#{$color}-plus-1);
    color: var(--rm-color-#{$color}-on-plus-1);
  }

  .background-#{$color}-lighter {
    background-color: var(--rm-color-#{$color}-plus-2);
    color: var(--rm-color-#{$color}-on-plus-2);
  }

  .background-#{$color}-lightest {
    background-color: var(--rm-color-#{$color}-plus-3);
    color: var(--rm-color-#{$color}-on-plus-3);
  }

  .background-#{$color}-dark {
    background-color: var(--rm-color-#{$color}-minus-1);
    color: var(--rm-color-#{$color}-on-minus-1);
  }

  .background-#{$color}-darker {
    background-color: var(--rm-color-#{$color}-minus-2);
    color: var(--rm-color-#{$color}-on-minus-2);
  }

  .background-#{$color}-darkest {
    background-color: var(--rm-color-#{$color}-minus-3);
    color: var(--rm-color-#{$color}-on-minus-3);
  }
}

.background-surface {
  background-color: var(--rm-color-background);
  color: var(--rm-color-on-background);
}
