// Semantic colors
.background-surface {
  background-color: var(--rm-color-background);
  color: var(--rm-color-on-background);
}

// Primary
.background-primary-base {
  background-color: var(--rm-color-primary-base);
  color: var(--rm-color-primary-on-base);
}

.background-primary-plus-one {
  background-color: var(--rm-color-primary-plus-one);
  color: var(--rm-color-primary-on-plus-one);
}

.background-primary-plus-two {
  background-color: var(--rm-color-primary-plus-two);
  color: var(--rm-color-primary-on-plus-two);
}

.background-primary-plus-three {
  background-color: var(--rm-color-primary-plus-three);
  color: var(--rm-color-primary-on-plus-three);
}

.background-primary-plus-four {
  background-color: var(--rm-color-primary-plus-four);
  color: var(--rm-color-primary-on-plus-four);
}

.background-primary-plus-five {
  background-color: var(--rm-color-primary-plus-five);
  color: var(--rm-color-primary-on-plus-five);
}

.background-primary-plus-six {
  background-color: var(--rm-color-primary-plus-six);
  color: var(--rm-color-primary-on-plus-six);
}

.background-primary-plus-seven {
  background-color: var(--rm-color-primary-plus-seven);
  color: var(--rm-color-primary-on-plus-seven);
}

.background-primary-plus-eight {
  background-color: var(--rm-color-primary-plus-eight);
  color: var(--rm-color-primary-on-plus-eight);
}

.background-primary-minus-one {
  background-color: var(--rm-color-primary-minus-one);
  color: var(--rm-color-primary-on-minus-one);
}

.background-primary-minus-two {
  background-color: var(--rm-color-primary-minus-two);
  color: var(--rm-color-primary-on-minus-two);
}

.background-primary-minus-three {
  background-color: var(--rm-color-primary-minus-three);
  color: var(--rm-color-primary-on-minus-three);
}

.background-primary-minus-four {
  background-color: var(--rm-color-primary-minus-four);
  color: var(--rm-color-primary-on-minus-four);
}

.background-primary-minus-five {
  background-color: var(--rm-color-primary-minus-five);
  color: var(--rm-color-primary-on-minus-five);
}

.background-primary-minus-six {
  background-color: var(--rm-color-primary-minus-six);
  color: var(--rm-color-primary-on-minus-six);
}

.background-primary-minus-seven {
  background-color: var(--rm-color-primary-minus-seven);
  color: var(--rm-color-primary-on-minus-seven);
}

.background-primary-minus-eight {
  background-color: var(--rm-color-primary-minus-eight);
  color: var(--rm-color-primary-on-minus-eight);
}

// Neutral
.background-neutral-base {
  background-color: var(--rm-color-neutral-base);
  color: var(--rm-color-neutral-on-base);
}

.background-neutral-plus-one {
  background-color: var(--rm-color-neutral-plus-one);
  color: var(--rm-color-neutral-on-plus-one);
}

.background-neutral-plus-two {
  background-color: var(--rm-color-neutral-plus-two);
  color: var(--rm-color-neutral-on-plus-two);
}

.background-neutral-plus-three {
  background-color: var(--rm-color-neutral-plus-three);
  color: var(--rm-color-neutral-on-plus-three);
}

.background-neutral-plus-four {
  background-color: var(--rm-color-neutral-plus-four);
  color: var(--rm-color-neutral-on-plus-four);
}

.background-neutral-plus-five {
  background-color: var(--rm-color-neutral-plus-five);
  color: var(--rm-color-neutral-on-plus-five);
}

.background-neutral-plus-six {
  background-color: var(--rm-color-neutral-plus-six);
  color: var(--rm-color-neutral-on-plus-six);
}

.background-neutral-plus-seven {
  background-color: var(--rm-color-neutral-plus-seven);
  color: var(--rm-color-neutral-on-plus-seven);
}

.background-neutral-plus-eight {
  background-color: var(--rm-color-neutral-plus-eight);
  color: var(--rm-color-neutral-on-plus-eight);
}

.background-neutral-minus-one {
  background-color: var(--rm-color-neutral-minus-one);
  color: var(--rm-color-neutral-on-minus-one);
}

.background-neutral-minus-two {
  background-color: var(--rm-color-neutral-minus-two);
  color: var(--rm-color-neutral-on-minus-two);
}

.background-neutral-minus-three {
  background-color: var(--rm-color-neutral-minus-three);
  color: var(--rm-color-neutral-on-minus-three);
}

.background-neutral-minus-four {
  background-color: var(--rm-color-neutral-minus-four);
  color: var(--rm-color-neutral-on-minus-four);
}

.background-neutral-minus-five {
  background-color: var(--rm-color-neutral-minus-five);
  color: var(--rm-color-neutral-on-minus-five);
}

.background-neutral-minus-six {
  background-color: var(--rm-color-neutral-minus-six);
  color: var(--rm-color-neutral-on-minus-six);
}

.background-neutral-minus-seven {
  background-color: var(--rm-color-neutral-minus-seven);
  color: var(--rm-color-neutral-on-minus-seven);
}

.background-neutral-minus-eight {
  background-color: var(--rm-color-neutral-minus-eight);
  color: var(--rm-color-neutral-on-minus-eight);
}
