.swatch {
  padding: var(--rm-space-medium);
  height: var(--rm-space-4x-large);

  span {
    display: block;
    padding: var(--rm-space-2x-small) var(--rm-space-x-small);
    background: var(--rm-color-background);
    color: var(--rm-color-on-background);

    border: 1px solid var(--rm-color-outline);
    border-radius: var(--rm-radius-large);
  }
}
