.swatch {
  padding: var(--rm-space-medium);
  height: 7rem;

  span {
    display: block;
    padding: var(--rm-space-2x-small) var(--rm-space-x-small);
    background: var(--rm-colors-background);
    color: var(--rm-colors-on-background);

    border: 1px solid var(--rm-colors-outline);
    border-radius: var(--rm-radius-large);
  }
}
