.swatch {
  padding: var(--rms-space-medium);
  height: 7rem;

  span {
    display: block;
    padding: var(--rms-space-2x-small) var(--rms-space-x-small);
    background: var(--rms-colors-background);
    color: var(--rms-colors-on-background);

    border: 1px solid var(--rms-colors-outline);
    border-radius: var(--rms-radius-large);
  }
}
