.switch {
  /* Public API (allowed to be overridden) */
  --_op-switch-height-small: calc(4 * var(--op-size-unit)); /* 16px */
  --_op-switch-height-large: calc(6 * var(--op-size-unit)); /* 24px */
  --_op-switch-width-small: calc(7 * var(--op-size-unit)); /* 28px */
  --_op-switch-width-large: calc(11 * var(--op-size-unit)); /* 44px */
  --_op-switch-opacity-disabled: var(--op-opacity-disabled);
  --_op-switch-switch-padding: var(--op-space-2x-small);

  /* Private API (component option defaults) */
  --__op-switch-width: var(--_op-switch-width-large);
  --__op-switch-height: var(--_op-switch-height-large);
  --__op-switch-switch-size: calc(var(--__op-switch-height) - var(--_op-switch-switch-padding));
  --__op-switch-half-switch-padding: calc(var(--_op-switch-switch-padding) / 2);

  position: relative;
  border-radius: var(--op-radius-pill);
  margin: 0;
  appearance: none;
  background-color: var(--op-color-neutral-base);
  block-size: var(--__op-switch-height);
  box-shadow: inset var(--op-border-all) var(--op-color-neutral-plus-three);
  cursor: pointer;
  inline-size: var(--__op-switch-width);

  &::after {
    position: absolute;
    border-radius: var(--op-radius-circle);
    background-color: var(--op-color-neutral-plus-eight);
    block-size: var(--__op-switch-switch-size);
    content: '';
    inline-size: var(--__op-switch-switch-size);
    inset-block-start: var(--__op-switch-half-switch-padding);
    inset-inline-start: var(--__op-switch-half-switch-padding);
    transition: var(--op-transition-input);
  }

  /* Prevent labels after the toggle being full width */
  & + label {
    inline-size: fit-content;
  }

  /* Focus State */
  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    box-shadow:
      0 0 0 var(--op-border-width-large) var(--op-color-primary-plus-six),
      inset var(--op-border-all) var(--op-color-primary-minus-three);

    &::after {
      background-color: var(--op-color-neutral-plus-five);
      box-shadow: var(--op-border-all) var(--op-color-primary-minus-three);
    }

    &:checked {
      &::after {
        background-color: var(--op-color-primary-plus-six);
        box-shadow: var(--op-border-all) var(--op-color-primary-minus-two);
      }
    }
  }

  /* Hover State */
  &:hover::after {
    background-color: var(--op-color-primary-plus-five);
  }

  /* Checked state */
  &:checked {
    background-color: var(--op-color-primary-base);
    box-shadow: none;

    &::after {
      inset-inline-start: calc(100% - var(--__op-switch-half-switch-padding));
      transform: translateX(-100%);
    }
  }

  /* Disabled State */
  &[disabled] {
    cursor: not-allowed;
    opacity: var(--_op-switch-opacity-disabled);
  }

  /* Size Modifiers */
  &.switch--small {
    --__op-switch-width: var(--_op-switch-width-small);
    --__op-switch-height: var(--_op-switch-height-small);
  }

  &.switch--large {
    --__op-switch-width: var(--_op-switch-width-large);
    --__op-switch-height: var(--_op-switch-height-large);
  }
}
