%switch-global {
  // Public API (allowed to be overridden)
  --_op-switch-height-small: var(--op-space-medium); // 1.6rem
  --_op-switch-height-large: var(--op-space-x-large); // 2.4rem
  --_op-switch-width-small: calc(var(--op-space-x-large) + var(--op-space-3x-small)); // 2.6rem
  --_op-switch-width-large: calc(var(--op-space-3x-large) + var(--op-space-3x-small)); // 4.2rem
  --_op-switch-opacity-disabled: var(--op-opacity-disabled);
  --_op-switch-switch-padding: var(--op-space-2x-small);

  // Private API (don't touch these)
  --__op-switch-width: var(--_op-switch-width-large);
  --__op-switch-height: var(--_op-switch-height-large);
  --__op-switch-switch-size: calc(var(--__op-switch-height) - var(--_op-switch-switch-padding));
  --__op-switch-half-switch-padding: calc(var(--_op-switch-switch-padding) / 2);

  position: relative;
  display: flex;

  input {
    width: 0;
    height: 0;
    margin-right: calc(-1 * var(--op-space-2x-small));

    &:disabled + label {
      cursor: not-allowed;
      opacity: var(--_op-switch-opacity-disabled);
    }

    &:checked + label {
      background-color: var(--op-color-primary-base);
      box-shadow: none;

      &::after {
        left: calc(100% - var(--__op-switch-half-switch-padding));
        transform: translateX(-100%);
      }
    }

    &:hover + label {
      &::after {
        background-color: var(--op-color-primary-plus-five);
      }
    }

    &:focus-visible + label {
      box-shadow:
        0 0 0 var(--op-border-width-large) var(--op-color-primary-plus-six),
        inset var(--op-border-all) var(--op-color-primary-minus-three);

      &::after {
        background-color: var(--op-color-neutral-plus-five);
        box-shadow: var(--op-border-all) var(--op-color-primary-minus-three);
      }
    }

    &:focus-visible:checked + label {
      &::after {
        background-color: var(--op-color-primary-plus-six);
        box-shadow: var(--op-border-all) var(--op-color-primary-minus-two);
      }
    }
  }

  label {
    position: relative;
    display: block;
    width: var(--__op-switch-width);
    height: var(--__op-switch-height);
    border-radius: var(--op-radius-pill);
    background: var(--op-color-neutral-base);
    box-shadow: inset var(--op-border-all) var(--op-color-neutral-plus-three);
    text-indent: -9999px; // Normally text would not be put in the label, but this hides it in case you do put text in the label

    &::after {
      position: absolute;
      top: var(--__op-switch-half-switch-padding);
      left: var(--__op-switch-half-switch-padding);
      width: var(--__op-switch-switch-size);
      height: var(--__op-switch-switch-size);
      border-radius: var(--op-radius-circle);
      background-color: var(--op-color-neutral-plus-eight);
      content: '';
      transition: var(--op-transition-input);
    }
  }

  // Size Modifiers
  &.switch--small {
    --__op-switch-width: var(--_op-switch-width-small);
    --__op-switch-height: var(--_op-switch-height-small);
  }

  &.switch--large {
    --__op-switch-width: var(--_op-switch-width-large);
    --__op-switch-height: var(--_op-switch-height-large);
  }

  // Prevent labels after the toggle being full width
  & + label {
    width: fit-content;
  }
}

.switch {
  @extend %switch-global;
}
