table.table {
  width: 100%;

  border-collapse: collapse;

  thead {
    background: var(--rm-color-background);
  }

  th {
    padding: var(--rm-space-medium) var(--rm-space-medium);

    text-align: left;
    text-transform: uppercase;

    color: var(--rm-color-on-background);
    border-bottom: var(--rm-border-width) solid var(--rm-color-outline);

    font-size: var(--rm-font-small);
    font-weight: var(--rm-font-weight-normal);

    &:first-child {
      border-top-left-radius: var(--rm-radius-medium);
    }

    &:last-child {
      border-top-right-radius: var(--rm-radius-medium);
    }
  }

  td {
    padding: var(--rm-font-x-small) var(--rm-space-medium);

    color: var(--rm-color-on-background);
    border-bottom: var(--rm-border-width) solid var(--rm-color-outline);

    font-size: var(--rm-font-small);
  }
}

table.table--no-last-divider {
  tr:last-child {
    td {
      border-bottom: none;
    }
  }
}
