// TODO: When we get a pagination component, add it to the table styles and docs for within a table footer

%table-global {
  // Public API
  // Cells (for padding, the appropriate variable is used when using the density modifiers)
  --_rm-table-cell-padding-default: var(--rm-space-small) var(--rm-space-x-small);
  --_rm-table-cell-padding-comfortable: var(--rm-space-medium) var(--rm-space-small);
  --_rm-table-cell-padding-compact: var(--rm-space-x-small) var(--rm-space-2x-small);

  // Private API
  // These allow for overriding specific padding versions easier.
  --__rm-table-cell-padding: var(--_rm-table-cell-padding-default);

  width: 100%;
  border-collapse: collapse;
  table-layout: auto;

  box-shadow: var(--rm-border-all) var(--rm-border-color);
  border-radius: var(--rm-radius-medium);

  contain: paint;

  thead {
    background-color: var(--rm-color-neutral-plus-four);
    color: var(--rm-color-neutral-on-plus-four);
  }

  th {
    text-align: left;
    text-transform: uppercase;

    font-weight: var(--rm-font-weight-normal);
  }

  tbody, tfoot {
    background-color: var(--rm-color-background);
    color: var(--rm-color-on-background);
  }

  th, td {
    font-size: var(--rm-font-small);

    padding: var(--__rm-table-cell-padding);
  }

  tr:not(:last-child) {
    box-shadow: inset var(--rm-border-top) var(--rm-border-color);
  }

  tfoot tr {
    box-shadow: var(--rm-border-top) var(--rm-border-color);
  }

  // Layout Modifiers
  &.table--auto-layout { table-layout: auto; }
  &.table--fixed-layout { table-layout: fixed; }

  // Table Density Modifiers
  &.table--default-density {
    --__rm-table-cell-padding: var(--_rm-table-cell-padding-default);
  }

  &.table--comfortable-density {
    --__rm-table-cell-padding: var(--_rm-table-cell-padding-comfortable);
  }

  &.table--compact-density {
    --__rm-table-cell-padding: var(--_rm-table-cell-padding-compact);
  }

  // Striped Modifiers
  &.table--even-striped {
    tbody tr:nth-child(even) {
      background-color: var(--rm-color-neutral-plus-seven);
      color: var(--rm-color-neutral-on-plus-seven);
    }
  }

  &.table--odd-striped {
    tbody tr:nth-child(odd) {
      background-color: var(--rm-color-neutral-plus-seven);
      color: var(--rm-color-neutral-on-plus-seven);
    }
  }

  // Sticky Header Row Modifier
  &.table--sticky-header thead {
    position: sticky;
    top: 0;
  }

  // Sticky Footer Row Modifier
  &.table--sticky-footer tfoot {
    position: sticky;
    bottom: 0;
  }
}

// Default Table
.table {
  @extend %table-global;
}

// Primary Table
.table-primary {
  @extend %table-global;

  thead {
    background-color: var(--rm-color-primary-plus-seven);
    color: var(--rm-color-primary-on-plus-seven);
  }
}

// Danger Table
.table-danger {
  @extend %table-global;

  thead {
    background-color: var(--rm-color-alerts-danger-plus-3);
    color: var(--rm-color-alerts-danger-on-plus-3);
  }
}

// Sticky Header / Footer Table Container
.table-container {
  @extend %table-global;

  overflow-y: auto;
}
