:root {
  --rms-mobile-min-height: 44px;
}

%btn {
  -webkit-appearance: none;
  display: inline-flex;

  justify-content: center;

  transition: all 120ms;

  border: 0;
  border-width: var(--rms-border-width);
  border-radius: var(--radius-lg);
  padding: var(--rms-space-small) var(--rms-space-medium);

  cursor: pointer;

  font-size: var(--rms-font-x-small);
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: var(--rms-colors-black);

  &:visited {
    color: var(--rms-colors-black);
  }

  @media(max-width: $breakpoint-sm) {
    align-items: center;
    min-height: var(--rms-mobile-min-height);
  }
}

// Base Style
.btn {
  @extend %btn;
}

// Theme Styles
$button_varieties: 'primary', 'secondary', 'tertiary';
@each $color in $button_varieties {
  .btn--#{$color} {
    @extend %btn;

    background: var(--rms-colors-#{$color}-base);
    color: var(--rms-colors-#{$color}-on-base);

    &:visited {
      color: var(--rms-colors-#{$color}-on-base);
    }

    &:hover {
      background: var(--rms-colors-#{$color}-hover);
    }
  }
}

.btn--outline {
  @extend %btn;

  background: var(--rms-colors-background);
  border: var(--rms-border-width) solid var(--rms-colors-outline);
  color: var(--rms-colors-on-background);

  &:visited {
    color: var(--rms-colors-on-background);
  }

  &:hover {
    background: var(--rms-colors-neutral-variant-lightest);
    color: var(--rms-colors-neutral-variant-on-lightest);
  }

  @each $color in $button_varieties {
    &.btn--#{$color} {
      border-color: var(--rms-colors-#{$color}-base);
      color: var(--rms-colors-#{$color}-base);

      &:visited {
        color: var(--rms-colors-#{$color}-base);
      }

      &:hover {
        background: var(--rms-colors-#{$color}-lightest);
      }
    }
  }
}

.btn--small {
  @extend %btn;

  font-size: var(--rms-font-2x-small);
  padding: var(--rms-space-x-small) var(--rms-space-medium);
}

.btn--large {
  @extend %btn;

  font-size: var(--rms-font-small);
  padding: var(--rms-space-medium) var(--rms-space-large);
}

.btn--pill {
  @extend %btn;

  border-radius: var(--radius-pill);
}

.btn--active {
  @extend %btn;

  background: var(--rms-colors-primary-base);
  color: var(--rms-colors-primary-on-base);

  &:visited {
    color: var(--rms-colors-primary-on-base);
  }

  &:hover:not(:disabled) {
    background: var(--rms-colors-primary-base);
    color: var(--rms-colors-primary-on-base);
  }
}
