.header--main {
  --header-height: 60px;

  background: var(--color-white);
  background: var(--neutral-layer-app-background);
  width: 100%;
  display: flex;
  height: var(--header-height);
  padding: 0 var(--space-lg);
  position: relative;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.03);

  @media(max-width: 900px) {
    z-index: 1;
    position: sticky;
    top: 0;
  }
}

.header__user-name {
  margin-right: var(--space-sm);

  @media(max-width: $breakpoint-xs) {
    display: none;
  }
}

.header__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.185rem solid var(--color-on-primary-container);

  width: 40px;
  height: 40px;

  background: var(--color-primary-container);
  color: var(--color-on-primary-container) !important;
  text-decoration: none;
  border-radius: 50%;
}

.header--index-action {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-md);
  align-items: center;
  flex-wrap: wrap;
}
