// Semantic colors
$semantic_color_varieties: 'primary', 'secondary', 'tertiary', 'neutral', 'neutral-variant';
@each $color in $semantic_color_varieties {
  .background-#{$color}-base {
    background-color: var(--rms-colors-#{$color}-base);
    color: var(--rms-colors-#{$color}-on-base);
  }

  .background-#{$color}-light {
    background-color: var(--rms-colors-#{$color}-light);
    color: var(--rms-colors-#{$color}-on-light);
  }

  .background-#{$color}-lighter {
    background-color: var(--rms-colors-#{$color}-lighter);
    color: var(--rms-colors-#{$color}-on-lighter);
  }

  .background-#{$color}-lightest {
    background-color: var(--rms-colors-#{$color}-lightest);
    color: var(--rms-colors-#{$color}-on-lightest);
  }

  .background-#{$color}-dark {
    background-color: var(--rms-colors-#{$color}-dark);
    color: var(--rms-colors-#{$color}-on-dark);
  }

  .background-#{$color}-darker {
    background-color: var(--rms-colors-#{$color}-darker);
    color: var(--rms-colors-#{$color}-on-darker);
  }

  .background-#{$color}-darkest {
    background-color: var(--rms-colors-#{$color}-darkest);
    color: var(--rms-colors-#{$color}-on-darkest);
  }
}

.background-surface {
  background-color: var(--rms-colors-background);
  color: var(--rms-colors-on-background);
}
