.swatch {
  padding: var(--space-md);
  height: 7rem;

  span {
    display: block;
    padding: var(--space-xxs) var(--space-xs);
    background: var(--color-background);
    color: var(--color-on-background);

    border: 1px solid var(--color-outline);
    border-radius: var(--radius);
  }
}
