table.table {
  width: 100%;

  border-collapse: collapse;

  thead {
    background: var(--rms-colors-background);
  }

  th {
    padding: var(--rms-space-medium) var(--rms-space-medium);

    text-align: left;
    text-transform: uppercase;

    color: var(--rms-colors-on-background);
    border-bottom: var(--rms-border-width) solid var(--rms-colors-outline);

    font-size: var(--rms-font-small);
    font-weight: 400;

    &:first-child {
      border-top-left-radius: var(--radius-md);
    }

    &:last-child {
      border-top-right-radius: var(--radius-md);
    }
  }

  td {
    padding: 0.75rem var(--rms-space-medium);

    color: var(--rms-colors-on-background);
    border-bottom: var(--rms-border-width) solid var(--rms-colors-outline);

    font-size: 0.875rem;
  }
}

table.table--no-last-divider {
  tr:last-child {
    td {
      border-bottom: none;
    }
  }
}
