// Domains Sidebar Example
@mixin sidebar-domains-rail-global {
  .sidebar__brand {
    padding: 0 var(--_op-sidebar-spacing);
  }
}

@mixin sidebar-domains-drawer-global {
  .sidebar__content {
    padding: 0;
  }

  .sidebar__item {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .sidebar__section-divider {
    margin: var(--op-space-small) 0;
  }
}

.sidebar-domains {
  @extend %sidebar-global;

  // Normal
  --_op-sidebar-background-color: var(--op-color-background);
  --_op-sidebar-text-color: var(--op-color-on-background);

  // Active
  --_op-sidebar-icon-background-active-color: var(--op-color-primary-plus-seven);
  --_op-sidebar-icon-text-active-color: var(--op-color-primary-on-plus-seven);

  // Hover
  --_op-sidebar-icon-background-hover-color: var(--op-color-neutral-plus-seven);
  --_op-sidebar-icon-text-hover-color: var(--op-color-neutral-on-plus-seven);

  .sidebar__brand {
    padding: 0 var(--op-space-4x-large);
  }

  // Modifiers
  &.sidebar--drawer:not(.sidebar--responsive) {
    @include sidebar-domains-drawer-global;
  }

  &.sidebar--drawer.sidebar--responsive {
    @media (width > $breakpoint-medium) {
      @include sidebar-domains-drawer-global;
    }

    @media (width <= $breakpoint-medium) {
      @include sidebar-domains-rail-global;
    }
  }

  &.sidebar--rail {
    @include sidebar-domains-rail-global;
  }
}
