// Domains Sidebar Example
%btn-global {
  &.btn--pill-right {
    border-radius: 0 var(--op-radius-pill) var(--op-radius-pill) 0;
  }
}

.sidebar-domains {
  @extend %sidebar-global;

  --_op-sidebar-drawer-width: 28rem;
  --_op-sidebar-content-spacing: 0;
  --_op-sidebar-content-item-spacing: 0;

  box-shadow: none;

  .btn {
    &.btn--no-border {
      box-shadow: none;

      &.btn--active {
        background-color: var(--op-color-primary-plus-five);
        color: var(--op-color-primary-on-plus-five);
      }

      &:hover:not(.btn--active) {
        background-color: var(--op-color-neutral-plus-six);
        box-shadow: none;
        color: var(--op-color-neutral-on-plus-six);
      }
    }
  }

  .sidebar__footer {
    display: flex;
    align-items: center;
    padding-left: var(--op-space-large);
    gap: var(--op-space-small);
  }
}
