@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  height: 100%;

  font-family: var(--rm-font-family);
  font-size: 62.5%; // 1rem = 10px
}

body {
  height: inherit;
  overflow: hidden; // Needed to prevent flash messages and panels from causing overflow
  background: var(--rm-color-background);
  color: var(--rm-color-on-background);
  font-size: var(--rm-font-medium);
}

button, input, optgroup, select, textarea {
  margin: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;

  background: none;
  cursor: pointer;

  color: var(--rm-color-black);
}

a {
  color: var(--rm-color-primary-original);

  &:visited {
    color: var(--rm-color-primary-original);
  }
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, pre {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: var(--rm-space-small);

  font-weight: var(--rm-font-weight-normal);
}

h1 {
  font-size: var(--rm-font-2x-large);
}

h2 {
  font-size: var(--rm-font-x-large);
}

h3 {
  font-size: var(--rm-font-large);
}

h4 {
  font-size: var(--rm-font-medium);
}

h5 {
  font-size: var(--rm-font-small);
}

h6 {
  font-size: var(--rm-font-x-small);
}

p {
  margin-bottom: var(--rm-space-small);

  font-size: var(--rm-font-medium);
}

small {
  font-size: var(--rm-font-small);
}

.container {
  max-width: $breakpoint-medium;
  margin: 0 auto;
  padding: 0 var(--rm-space-large);
  width: 100%;
}

.container--sm {
  max-width: $breakpoint-small;
}

.container--md-padding {
  padding: 0 var(--rm-space-medium);
}

.container--sm-padding {
  padding: 0 var(--rm-space-small);
}

.container--xs {
  max-width: $breakpoint-x-small;
}

.wrapper--main {
  display: flex;
  overflow: auto;
  flex-direction: column;

  width: 100%;
  height: 100vh;
}
