:root {
  // Base Theme/Brand colors
  --rm-color-primary-original:         hsl(var(--rm-color-primary-h), var(--rm-color-primary-s), var(--rm-color-primary-l));
  --rm-color-secondary-original:       hsl(var(--rm-color-secondary-h), var(--rm-color-secondary-s), var(--rm-color-secondary-l));
  --rm-color-tertiary-original:        hsl(var(--rm-color-tertiary-h), var(--rm-color-tertiary-s), var(--rm-color-tertiary-l));
  --rm-color-neutral-original:         hsl(var(--rm-color-neutral-h), var(--rm-color-neutral-s), var(--rm-color-neutral-l));
  --rm-color-neutral-variant-original: hsl(var(--rm-color-neutral-variant-h), var(--rm-color-neutral-variant-s), var(--rm-color-neutral-variant-l));

  $color_varieties: 'primary', 'secondary', 'tertiary', 'neutral', 'neutral-variant';
  @each $color in $color_varieties {
    // Luminosity Scale (Weighted towards higher luminosity)
    --rm-color-#{$color}-luminosity-10:  hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 10%);
    --rm-color-#{$color}-luminosity-20:  hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 20%);
    --rm-color-#{$color}-luminosity-30:  hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 30%);
    --rm-color-#{$color}-luminosity-40:  hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 40%);
    --rm-color-#{$color}-luminosity-50:  hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 50%);
    --rm-color-#{$color}-luminosity-60:  hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 60%);
    --rm-color-#{$color}-luminosity-70:  hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 70%);
    --rm-color-#{$color}-luminosity-80:  hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 80%);
    --rm-color-#{$color}-luminosity-90:  hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 90%);
    --rm-color-#{$color}-luminosity-95:  hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 95%);
    --rm-color-#{$color}-luminosity-98:  hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 98%);

    // Semantic Scale: plus adds luminosity, minus removes luminosity
    // This borrows from the photography concept of Aperture f-stops.
    // https://www.adobe.com/creativecloud/photography/discover/f-stop.html
    --rm-color-#{$color}-plus-3:  var(--rm-color-#{$color}-luminosity-95);
    --rm-color-#{$color}-plus-2:  var(--rm-color-#{$color}-luminosity-80);
    --rm-color-#{$color}-plus-1:  var(--rm-color-#{$color}-luminosity-70);
    --rm-color-#{$color}-hover:   var(--rm-color-#{$color}-luminosity-50);
    --rm-color-#{$color}-base:    var(--rm-color-#{$color}-luminosity-40);
    --rm-color-#{$color}-minus-1: var(--rm-color-#{$color}-luminosity-30);
    --rm-color-#{$color}-minus-2: var(--rm-color-#{$color}-luminosity-20);
    --rm-color-#{$color}-minus-3: var(--rm-color-#{$color}-luminosity-10);

    --rm-color-#{$color}-on-plus-3:  var(--rm-color-#{$color}-luminosity-10);
    --rm-color-#{$color}-on-plus-2:  var(--rm-color-#{$color}-luminosity-10);
    --rm-color-#{$color}-on-plus-1:  var(--rm-color-black);
    --rm-color-#{$color}-on-hover:   var(--rm-color-black);
    --rm-color-#{$color}-on-base:    var(--rm-color-white);
    --rm-color-#{$color}-on-minus-1: var(--rm-color-#{$color}-luminosity-90);
    --rm-color-#{$color}-on-minus-2: var(--rm-color-#{$color}-luminosity-95);
    --rm-color-#{$color}-on-minus-3: var(--rm-color-white);
  }

  // Miscellaneous Colors
  --rm-color-background:    var(--rm-color-neutral-luminosity-98);
  --rm-color-on-background: var(--rm-color-neutral-luminosity-10);
  --rm-color-outline:       var(--rm-color-neutral-variant-luminosity-80);

  // Alert Colors
  $alert_color_varieties: ('warning': 'yellow', 'danger': 'red', 'info': 'blue', 'notice': 'green');
  @each $name, $color in $alert_color_varieties {
    --rm-color-alerts-#{$name}-plus-2:  hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 80%);
    --rm-color-alerts-#{$name}-plus-1:  hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 70%);
    --rm-color-alerts-#{$name}-base:    hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 40%);
    --rm-color-alerts-#{$name}-minus-1: hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 30%);
    --rm-color-alerts-#{$name}-minus-2: hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 20%);

    --rm-color-alerts-#{$name}-on-plus-2: hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 10%);
    --rm-color-alerts-#{$name}-on-plus-1: hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 0%);
    --rm-color-alerts-#{$name}-on-base:   hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 100%);
    --rm-color-alerts-#{$name}-on-plus-1: hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 90%);
    --rm-color-alerts-#{$name}-on-plus-2: hsl(var(--rm-color-#{$color}-h), var(--rm-color-#{$color}-s), 95%);
  }
}
