@import './src/optics.scss';

@keyframes transitionDemo {
  from {
    background-color: var(--op-color-white);
    color: var(--op-color-black);
  }

  to {
    background-color: var(--op-color-primary-base);
    color: var(--op-color-primary-on-base);
  }
}

.transition-demo {
  display: inline-block;

  background-color: var(--op-color-primary-base);
  color: var(--op-color-primary-on-base);

  padding: var(--op-space-medium);

  animation-name: transitionDemo;
  animation-duration: var(--op-transition-input);
  animation-iteration-count: 1;
}

.transition-demo--input {
  animation-duration: var(--op-transition-input);
}
.transition-demo--navigation {
  animation-duration: var(--op-transition-navigation);
}
.transition-demo--sidebar {
  animation-duration: var(--op-transition-sidebar);
}
.transition-demo--modal {
  animation-duration: var(--op-transition-modal);
}
.transition-demo--panel {
  animation-duration: var(--op-transition-panel);
}
.transition-demo--flash {
  animation-duration: var(--op-transition-flash);
}

.flash--demo {
  position: relative;
  animation: none;
  top: 0;
  right: 0;
}

@import './src/recipes/domains-sidebar.scss';
@import './src/recipes/16six-sidebar.scss';

.background-primary-plus-four {
  background-color: var(--op-color-primary-plus-four);
  color: var(--op-color-primary-on-plus-four);
}

.background-primary-plus-seven {
  background-color: var(--op-color-primary-plus-seven);
  color: var(--op-color-primary-on-plus-seven);
}
