@import './src/optics.scss';

@import './src/recipes/domains-sidebar.scss';
@import './src/recipes/16six-sidebar.scss';

@import 'https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap';

.sbdocs-preview .docs-story {
  background-color: var(--op-color-background);
  color: var(--op-color-on-background);
}

.transition-demo {
  display: inline-block;
  padding: var(--op-space-medium);
  background-color: var(--op-color-primary-base);
  color: var(--op-color-primary-on-base);
  transition: var(--op-transition-input);

  &:hover {
    background-color: var(--op-color-neutral-base);
    color: var(--op-color-neutral-on-base);
  }
}

.transition-demo--input {
  transition: var(--op-transition-input);
}

.transition-demo--sidebar {
  transition: var(--op-transition-sidebar);
}

.transition-demo--modal {
  transition: var(--op-transition-modal);
}

.transition-demo--panel {
  transition: var(--op-transition-panel);
  transition-property: all;
}

.font-family-demo--alternative {
  --op-font-family: 'Tilt Neon', sans-serif;

  font-family: var(--op-font-family);
}

.design-token-container {
  .design-token-card {
    table {
      td:nth-of-type(1),
      th:nth-of-type(1) {
        flex-basis: 40%;
      }

      td:nth-of-type(2),
      th:nth-of-type(2) {
        flex-basis: 35%;
      }

      td:nth-of-type(3),
      th:nth-of-type(3) {
        flex-basis: 25%;
      }
    }
  }
}

.input-height-tokens {
  .design-token-container {
    div:nth-child(2) {
      div {
        div:last-child {
          margin: var(--op-space-x-large);
          transform: rotate(90deg);
        }
      }
    }
  }
}

.confirm-dialog-wrapper--demo {
  position: unset;
  padding: var(--op-space-small);

  .confirm-dialog-wrapper__backdrop {
    position: unset;
  }
}

.modal-wrapper--demo {
  position: unset;
  padding: var(--op-space-small);

  .modal-wrapper__backdrop {
    position: unset;
  }
}
