@import '../src/optics';
@import '../src/addons/fonts/material_symbols_outlined_variable';
@import '../src/addons/fonts/phosphor_icons';
@import '../src/addons/fonts/tabler_icons';
@import '../src/addons/fonts/feather_icons';

@import '../src/recipes/domains-sidebar';
@import '../src/recipes/16six-sidebar';
@import '../src/recipes/aligned-header';

@import 'https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap';

.sbdocs.sbdocs-wrapper {
  --toc-size: 20rem;

  display: grid;
  grid-template-columns: 1fr var(--toc-size);
  justify-items: center;

  .sbdocs.sbdocs-content + div {
    width: 100%;
    color: var(--op-color-neutral-base);

    > div {
      width: var(--toc-size);
    }

    .toc-wrapper {
      .toc-list {
        border-left: none;

        .toc-list-item {
          margin-left: var(--op-space-small);

          > a {
            color: var(--op-color-primary-plus-one);
            text-decoration: underline;
          }

          &.is-active-li > a {
            color: var(--op-color-primary-minus-one);
            font-weight: var(--op-font-weight-bold);
          }

          &::before {
            border-left: none;
            content: '-';
            opacity: 1;
            transform: translateX(calc(-1 * var(--op-space-small)));
          }
        }
      }
    }
  }
}

.sbdocs-preview .docs-story {
  background-color: var(--op-color-background);
  color: var(--op-color-on-background);
}

.sbdocs .sb-button-fix button {
  height: 0;
}

/* Allow the "Show Code" button to appear above the footer in examples. */
.docs-story div:last-child {
  z-index: 1;
}

/* Transition Demos */
.transition-demo {
  display: inline-block;
  padding: var(--op-space-medium);
  background-color: var(--op-color-primary-base);
  color: var(--op-color-primary-on-base);
  transition: var(--op-transition-input);

  &:hover {
    background-color: var(--op-color-neutral-base);
    color: var(--op-color-neutral-on-base);
  }
}

.transition-demo--accordion {
  transition: var(--op-transition-accordion);

  &:hover {
    rotate: 0.25turn;
  }
}

.transition-demo--accordion_content {
  interpolate-size: allow-keywords;
  transition: var(--op-transition-accordion-content);

  &:hover {
    height: 15rem;
  }
}

.transition-demo--input {
  transition: var(--op-transition-input);
}

.transition-demo--sidebar {
  transition: var(--op-transition-sidebar);
}

.transition-demo--modal {
  transition: var(--op-transition-modal);
}

.transition-demo--panel {
  transition: var(--op-transition-panel);
  transition-property: all;
}

.font-family-demo--alternative {
  font-family: var(--op-font-family-alt);
}

.font-family-demo--optional {
  --op-font-family: 'Tilt Neon', sans-serif;

  font-family: var(--op-font-family);
}

.design-token-container {
  .design-token-card {
    table {
      td:nth-of-type(1),
      th:nth-of-type(1) {
        flex-basis: 40%;
      }

      td:nth-of-type(2),
      th:nth-of-type(2) {
        flex-basis: 35%;
      }

      td:nth-of-type(3),
      th:nth-of-type(3) {
        flex-basis: 25%;
      }
    }
  }
}

.input-height-tokens {
  .design-token-container {
    div:nth-child(2) {
      div {
        div:last-child {
          margin: var(--op-space-x-large);
          transform: rotate(90deg);
        }
      }
    }
  }
}

.confirm-dialog-wrapper--demo {
  position: unset;
  padding: var(--op-space-small);

  .confirm-dialog-wrapper__backdrop {
    position: unset;
  }
}

.modal-wrapper--demo {
  position: unset;
  padding: var(--op-space-small);

  .modal-wrapper__backdrop {
    position: unset;
  }
}

.text-alignment-demo {
  width: 400px;
}

/* Prevent our tag component from interfering with the docs */
.language-html {
  .tag {
    display: initial;
    padding: initial;
    background-color: initial;
    font-size: 13px;
    font-weight: initial;
    letter-spacing: initial;
    line-height: 19px;
  }
}

/* Company Card */
.card.card--company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--op-space-large);
  gap: var(--op-space-large);

  .card__info {
    display: flex;
    align-items: center;
    gap: var(--op-space-x-large);

    .card__info-logo {
      width: calc(var(--op-size-unit) * 24); /* 96px */
    }

    p {
      margin: 0;
    }
  }

  /* --op-breakpoint-small */
  @media (width <= 768px) {
    flex-direction: column;

    .btn {
      width: 100%;
    }
  }
}
