/* Layers */
@import 'core/layers.css';

/* Third party Vendors */
@import 'modern-css-reset/dist/reset' layer(optics.reset);

/* Fonts */
@import 'core/fonts/index.css';

/* Tokens */
@import 'core/tokens/index.css';

/* Base styles and utilities */
@import 'core/base.css';
@import 'core/layout.css';
@import 'core/utilities.css';

/* Components */
@import 'components/index.css';
